#wrapper

  %section#pricing-plans
    .row
      .medium-6.small-12.columns.animated.medium-centered{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
        .title-section
          %h3 Billing Overview

    .row
      .medium-8.columns.medium-centered

        .row
          .small-12.column.text-center
            - if current_user.yet_to_subscribe?
            - else
              - if current_user.subscribed? && @payment_method
                %h4 You are subscribed to the PRO version of Tengence
                %br
              - elsif current_user.unsubscribed? && @payment_method
                - if current_user.unsubscribed_and_yet_to_finish_cycle?
                  %h4 You are subscribed to the PRO version of Tengence
                  %br
                - elsif current_user.unsubscribed_and_finished_cycle?

        - if current_user.yet_to_subscribe?

          .row
            .small-12.medium-8.column
              %h4
                %strong Days left till end of Free Trial:
            .small-12.medium-4.column
              %h4
                %strong #{days_left(current_user.created_at)}

          %hr
          
          .row
            .small-12.column.text-center
              = link_to 'Find out more about upgrading', plans_path, class: 'button'

          %hr

        - else

          - if current_user.subscribed? && @payment_method

            %hr.show-for-small-only
    
            .row
              .small-8.medium-6.column
                %h4
                  %strong Auto Renew:
              .small-4.medium-2.column
                %fieldset#renewal-toggle.switch.round{:tabindex => "0"}
                  %input#renew-toggle{:type => "checkbox", checked: current_user.auto_renew}
                  %label{:for => "renew-toggle"}
              .small-12.medium-4.column
                %p.strong#renew-true Your subscription will auto renew
                %p.strong#renew-false Your subscription will not auto renew

            %hr.show-for-small-only

            .row
              .small-12.medium-6.column
                %h4
                  %strong Plan:
              .small-12.medium-6.column
                %h4 #{plan current_user.subscribed_plan}

            %hr.show-for-small-only

            .row
              .small-12.medium-6.column
                %h4
                  %strong Next Billing Date:
              .small-12.medium-6.column
                %h4 #{current_user.next_billing_date.strftime('%e %b %Y')}

            %hr.show-for-small-only

            .row
              .small-12.medium-6.column
                %h4
                  %strong Card to charge:
              .small-12.medium-6.column
                %h6
                  %img{src: @payment_method.image_url}
                  %strong=@payment_method.card_type
                  ending with #{@payment_method.last_4}

            %hr.show-for-small-only

          - elsif current_user.unsubscribed? && @payment_method

            - if current_user.unsubscribed_and_yet_to_finish_cycle?

              .row
                .small-12.medium-6.column
                  %h4
                    %strong Valid Till:
                .small-12.medium-6.column
                  %h4 #{current_user.next_billing_date.strftime('%e %b %Y')}

            - elsif current_user.unsubscribed_and_finished_cycle?

              %h4.text-center Your subscription has ended.

        %br

    - if current_user.subscribed?

      .row
        .medium-8.columns.medium-centered.text-center
          %p
            = link_to unsubscribe_path, method: :post, id: 'unsubscribe', data: {confirm: 'Are you sure?'} do
              Unsubscribe 
            from Tengence. Your subscription will still continue till #{current_user.next_billing_date.strftime('%e %b %Y')}.

    .row
      .medium-8.columns.medium-centered.text-center
        %p
          Read our <a href='/terms-of-service' class='ga-static-pages' data-gtm-category='' data-gtm-action='read tos' data-gtm-label='tos (billing page)' target='_blank'> terms of service</a>.

    .row
      .medium-8.columns.medium-centered.text-center
        %p
          Read our <a href='/faq' class='ga-static-pages' data-gtm-category='' data-gtm-action='read faq' data-gtm-label='faq (billing page)' target='_blank'> FAQ</a>.

    -# - if current_user.trial?
    -#   %br
    -#   .row
    -#     .medium-8.columns.medium-centered
    -#       = link_to "I want to check Tengence out first. Skip", root_path

- content_for :javascript do
  :javascript
    var renewTrueTimeout, renewFalseTimeout;
    $('#renew-toggle').click(function(event){
      event.preventDefault();
      event.stopPropagation();
      $.ajax({
        url: '#{toggle_renew_path}',
        method: "POST",
        dataType: 'json'
      }).success(function(data,status,xhr){
        $('#renew-toggle').prop('checked', data)
      }).error(function(xhr,status,error){
        $('#renew-toggle').prop('checked', data);
        alert("Sorry there has been an error. \r\nOur developers are notified and are working on it. \r\nSorry for the inconvenience caused.");
      }).done(function(){
        if ($('#renew-toggle').prop('checked') === true) {
          clearTimeout(renewTrueTimeout);
          clearTimeout(renewFalseTimeout);
          $('#renew-true').slideDown();
          $('#renew-false').slideUp();
          renewTrueTimeout = setTimeout(function(){ $('#renew-true').slideUp(); }, 3000);
        } else {
          clearTimeout(renewTrueTimeout);
          clearTimeout(renewFalseTimeout);
          $('#renew-false').slideDown();
          $('#renew-true').slideUp();
          renewTrueTimeout = setTimeout(function(){ $('#renew-false').slideUp(); }, 3000);
        }
      })
    });