#wrapper

  %section#pricing-plans
    .row
      .medium-6.small-12.columns.animated.medium-centered{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
        .title-section
          %h3 Billing Overview

    #pricing-tables
      .row
        .medium-8.columns.medium-centered

          - if current_user.yet_to_subscribe?

            .row
              .small-12.medium-8.column
                %h4
                  %strong Days left till end of Free Trial:
              .small-12.medium-4.column
                %h4
                  %strong #{days_left(current_user.created_at)}

          - else

            - if current_user.subscribed? || current_user.cannot_resubscribe?

              .row
                .small-12.medium-6.column
                  %h4
                    %strong Next Billing Date:
                .small-12.medium-6.column
                  %h4 #{Date.parse(current_user.braintree_subscription.next_billing_date).strftime('%e %b %Y')}

            .row
              .small-12.medium-6.column
                %h4
                  %strong Card to charge:
              .small-12.medium-6.column
                %h6
                  %img{src: @payment_method.image_url}
                  %strong=@payment_method.card_type
                  ending with #{@payment_method.last_4}

          %br

      - if current_user.yet_to_subscribe?

        .row.text-center
          .medium-4.columns
            %h4 Monthly
            %h5 $40 / month (30 days)
            = link_to 'Subscribe Now', subscribe_one_month_path, class: 'button', id: 'subscribe'
          .medium-4.columns
            %h4 Quarterly
            %h5 $180 / quarter (90 days)
            = link_to 'Subscribe Now', subscribe_three_months_path, class: 'button', id: 'subscribe'
          .medium-4.columns
            %h4 Annually
            %h5 $480 / year
            = link_to 'Subscribe Now', subscribe_one_year_path, class: 'button', id: 'subscribe'
          
      - else

        .row
          .medium-8.columns.medium-centered.text-center
          
            = link_to "Payment History", payment_history_path, class: 'button', id: 'payment-history'
          
            - if current_user.can_resubscribe?
          
              .row
                .medium-4.columns
                  Monthly (30 days)
                  = link_to 'Subscribe Now', subscribe_one_month_path, class: 'button', id: 'subscribe'
                .medium-4.columns
                  Quarterly (90 days)
                  = link_to 'Subscribe Now', subscribe_three_months_path, class: 'button', id: 'subscribe'
                .medium-4.columns
                  Annually
                  = link_to 'Subscribe Now', subscribe_one_year_path, class: 'button', id: 'subscribe'
          
            - elsif current_user.subscribed?
          
              = link_to "Change Payment Settings", change_payment_path, class: 'button', id: 'change-payment'
          
            - elsif current_user.cannot_resubscribe?
          
              %p Resubscription is available from the next billing date, #{Date.parse(current_user.braintree_subscription.next_billing_date).strftime('%e %b %Y')}, onwards.

      - if current_user.subscribed?
        
        .row
          .medium-8.columns.medium-centered.text-center
            = link_to unsubscribe_path, method: :post, id: 'unsubscribe', data: {confirm: 'Are you sure?'} do
              Unsubscribe from Tengence. Your subscription will continue till #{Date.parse(current_user.braintree_subscription.next_billing_date).strftime('%e %b %Y')}.

      %br

      .row
        .medium-8.columns.medium-centered.text-center
          %span
            Read our <a href='/terms-of-service' class='ga-static-pages' data-gtm-category='' data-gtm-action='read tos' data-gtm-label='tos (billing page)' target='_blank'> terms of service</a>.

      -# - if current_user.trial?
      -#   %br
      -#   .row
      -#     .medium-8.columns.medium-centered
      -#       = link_to "I want to check Tengence out first. Skip", root_path
