#wrapper

  %section#pricing-plans
    .row
      .medium-6.small-12.columns.animated.medium-centered{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
        .title-section
          %h3 Billing Overview

    #pricing-tables
      .row
        .medium-8.columns.medium-centered

          - if @payment_method
            .row
              .small-12.medium-8.column
                %h4
                  %strong Next Billing Date:
              .small-12.medium-4.column
                %h4
                  %strong #{Date.parse(current_user.braintree_subscription.next_billing_date).strftime('%e %b %Y')}.
          - else
            .row
              .small-12.medium-8.column
                %h4
                  %strong Days left till end of Free Trial:
              .small-12.medium-4.column
                %h4
                  %strong #{days_left(current_user.created_at)}
          %br

      .row
        .medium-8.columns.medium-centered.text-center
          - if current_user.braintree_subscription_id
            = link_to "Change Payment Settings", change_payment_path, class: 'button', id: 'change-payment'
          - else
            = link_to 'Subscribe Now', subscribe_path, class: 'button', id: 'subscribe'
      .row
        .medium-8.columns.medium-centered.text-center
          - if current_user.braintree_subscription_id
            = link_to unsubscribe_path do
              Unsubscribe from Tengence. Your subscription will continue till #{Date.parse(current_user.braintree_subscription.next_billing_date).strftime('%e %b %Y')}.

      -# - if current_user.trial?
      -#   %br
      -#   .row
      -#     .medium-8.columns.medium-centered
      -#       = link_to "I want to check Tengence out first. Skip", root_path
