#wrapper
  %section
    .row
      .medium-8.columns.medium-centered
        .row
          .small-12.medium-8.column
            %h4
              %strong Next Billing Date:
          .small-12.medium-4.column
            %h4
              %strong #{Date.parse(current_user.braintree_subscription.next_billing_date).strftime('%e %b %Y')}.
        .row
          .medium-12.column.medium-centered.text-center
            You will be charged 40 USD on this card.
        %br
        .row
          .medium-12.column.medium-centered.text-center
            = form_tag update_payment_path do
              #dropin
              %br
              %button#submit Confirm Change of Payment Method
        .row
          .medium-12.columns.medium-centered.text-center
            - if current_user.braintree_subscription_id
              = link_to unsubscribe_path, method: :post, id: 'unsubscribe', data: {confirm: 'Are you sure?'} do
                Unsubscribe from Tengence. Your subscription will continue till #{Date.parse(current_user.braintree_subscription.next_billing_date).strftime('%e %b %Y')}.

- content_for :javascript do
  = javascript_include_tag "https://js.braintreegateway.com/v2/braintree.js"
  :javascript
    var client_token = "#{@client_token}";
    braintree.setup(
      client_token,
      'dropin', {
        container: 'dropin'
      });