#wrapper

  %section

    .row
      .small-12.medium-10.medium-centered.column

        = form_tag create_payment_path do
          = hidden_field_tag 'plan', @plan

          - if current_user.yet_to_subscribe?
            %h4 You will be billed #{transaction_amount @plan} immediately.
          - elsif current_user.subscribed?
            %h4 Your next billing date is on #{current_user.next_billing_date.strftime('%e %b %Y')}.
            %h4 You will NOT be billed #{transaction_amount @plan} immediately.
          - elsif current_user.unsubscribed?
            - if current_user.unsubscribed_and_yet_to_finish_cycle?
              %h4 Your next billing date is on #{current_user.next_billing_date.strftime('%e %b %Y')}.
              %h4 You will NOT be billed #{transaction_amount @plan} immediately.
            - elsif current_user.unsubscribed_and_finished_cycle?
              %h4 You will be billed #{transaction_amount @plan} immediately.


          - if current_user.yet_to_subscribe?
            %h5 You have chosen to subscribe to Tengence #{plan(@plan).downcase}.
            
          - elsif current_user.subscribed?
            %h5 You have chosen to change to subscribe to Tengence #{plan(@plan).downcase}.
          - elsif current_user.unsubscribed?
            %h5 You have chosen to resubscribe to Tengence #{plan(@plan).downcase}.

          %h5 You will be billed to the chosen payment option below.
          %p
            NOTE: You will receive email receipts for every transaction.
            %br
            NOTE: Tengence does NOT store your credit card details. Tengence works with <a href="https://www.braintreegateway.com/merchants/#{ENV['BRAINTREE_MERCHANT_ID']}/verified" target="_blank" >Braintree</a> to handle payments.

          %hr

          .row
            .small-1.column
              %h4
                %i.fa.fa-credit-card
            .small-11.column
              %h4 Credit Card

              #dropin
              %br

          %hr

          .row
            .small-1.column
              %h4
                %i.fa.fa-refresh
            .small-11.column
              %h4 Auto Renew?
              .row
                .small-3.medium-2.column
                  %fieldset#renewal-toggle.switch.round.large{:tabindex => "0"}
                    - if current_user.trial? or current_user.finished_trial_but_yet_to_subscribe?
                      %input#renew{name: "renew", :type => "checkbox", checked: true}
                    - else
                      %input#renew{name: "renew", :type => "checkbox", checked: current_user.auto_renew}
                    %label{:for => "renew"}
                .small-9.medium-10.column
                  
                  %p.strong#renew-true

                    - if current_user.yet_to_subscribe?

                      You will be billed #{transaction_amount @plan} immediately.
                      %br
                      You will be automatically billed #{transaction_amount @plan} on your next billing date on #{plan_next_billing_date @plan}.

                    - elsif current_user.subscribed?

                      You will NOT be billed #{transaction_amount @plan} immediately.
                      %br
                      You will be automatically billed on #{current_user.next_billing_date.strftime('%e %b %Y')}.

                    - elsif current_user.unsubscribed?

                      - if current_user.unsubscribed_and_yet_to_finish_cycle?
                    
                        You will NOT be billed #{transaction_amount @plan} immediately.
                        %br
                        You will be automatically billed on #{current_user.next_billing_date.strftime('%e %b %Y')}.
                    
                      - elsif current_user.unsubscribed_and_finished_cycle?
                    
                        You will be billed #{transaction_amount @plan} immediately.
                        %br
                        You will be automatically billed #{transaction_amount @plan} on your next billing date on #{plan_next_billing_date @plan}.
                    
                  %p.strong#renew-false

                    - if current_user.yet_to_subscribe?

                      You will be billed #{transaction_amount @plan} immediately.
                      %br
                      You will NOT be automatically billed #{transaction_amount @plan} on your next billing date on #{plan_next_billing_date @plan}.

                    - elsif current_user.subscribed?

                      You will NOT be billed #{transaction_amount @plan} immediately.
                      %br
                      You will NOT be automatically billed on #{current_user.next_billing_date.strftime('%e %b %Y')}.

                    - elsif current_user.unsubscribed?

                      - if current_user.unsubscribed_and_yet_to_finish_cycle?
                    
                        You will NOT be billed #{transaction_amount @plan} immediately.
                        %br
                        You will NOT be automatically billed on #{current_user.next_billing_date.strftime('%e %b %Y')}.
                    
                      - elsif current_user.unsubscribed_and_finished_cycle?
                    
                        You will be billed #{transaction_amount @plan} immediately.
                        %br
                        You will NOT be automatically billed #{transaction_amount @plan} on your next billing date on #{plan_next_billing_date @plan}.

          %hr

          .row
            .small-1.column
              %h4
                %i.fa.fa-check-circle
            .small-11.column
              = button_tag 'Confirm', {id: 'submit'}

  %section#minor.dark

    = render 'layouts/transaction_validity_stamp'

    %br

    .row
      .medium-8.columns.medium-centered.text-center
        %span
          Read our <a href='/terms-of-service' class='ga-static-pages' data-gtm-category='' data-gtm-action='read tos' data-gtm-label='tos (billing page)' target='_blank'> terms of service</a>.

    %br

    .row
      .medium-8.columns.medium-centered.text-center
        %span
          Read our <a href='/faq' class='ga-static-pages' data-gtm-category='' data-gtm-action='read faq' data-gtm-label='faq (billing page)' target='_blank'> FAQ</a>.

- content_for :javascript do
  = javascript_include_tag "https://js.braintreegateway.com/v2/braintree.js"
  - if current_user.auto_renew or current_user.trial? or current_user.finished_trial_but_yet_to_subscribe?
    :javascript
      $('#renew-true').show()
  - else
    :javascript
      $('#renew-false').show()
  :javascript
    var client_token = "#{@client_token}";
    braintree.setup(
      client_token,
      'dropin', {
        container: 'dropin'
      });

    $('#renew').click(function(event){
      if ($(this).prop('checked')) {
        $('#renew-true').slideDown();
        $('#renew-false').slideUp();
      } else {
        $('#renew-true').slideUp();
        $('#renew-false').slideDown();
      }
    });
