#wrapper

  %section

    .row
      .small-12.medium-10.medium-centered.column

        = form_tag create_payment_path do
          = hidden_field_tag 'plan', @plan

          - if current_user.yet_to_subscribe?
            %h6 You have chosen to subscribe to Tengence #{plan(@plan).downcase}.
            %h6 You will be charged #{transaction_amount @plan} immediately.
          - elsif current_user.subscribed?
            %h6 You have chosen to change to subscribe to Tengence #{plan(@plan).downcase}.
            %h6 Your next billing date is on #{current_user.next_billing_date.strftime('%e %b %Y')}.
            %h6 You will NOT be charged #{transaction_amount @plan} immediately.
          - elsif current_user.unsubscribed?
            %h6 You have chosen to resubscribe to Tengence #{plan(@plan).downcase}.
            - if current_user.unsubscribed_and_yet_to_finish_cycle?
              %h6 Your next billing date is on #{current_user.next_billing_date.strftime('%e %b %Y')}.
              %h6 You will NOT be charged #{transaction_amount @plan} immediately.
            - elsif current_user.unsubscribed_and_finished_cycle?
              %h6 You will be charged #{transaction_amount @plan} immediately.

          %h6 You will be charged to the chosen payment card below.
          %p NOTE: You will receive email receipts for every transaction.

          %hr

          .row
            .small-1.column
              %h4
                %i.fa.fa-credit-card
            .small-11.column
              %h4 Credit Card

              #dropin
              %br

          %hr

          .row
            .small-1.column
              %h4
                %i.fa.fa-refresh
            .small-11.column
              %h4 Auto Renew?
              .row
                .small-3.medium-2.column
                  %fieldset#renewal-toggle.switch.round.large{:tabindex => "0"}
                    %input#renew{name: "renew", :type => "checkbox", checked: current_user.auto_renew}
                    %label{:for => "renew"}
                .small-9.medium-10.column
                  
                  %p.strong#renew-true

                    - if current_user.yet_to_subscribe?

                      You will be charged #{transaction_amount @plan} immediately.
                      %br
                      You will be automatically charged #{transaction_amount @plan} on your next billing date on #{plan_next_billing_date @plan}.

                    - elsif current_user.subscribed?

                      You will NOT be charged #{transaction_amount @plan} immediately.
                      %br
                      You will be automatically charged on #{current_user.next_billing_date.strftime('%e %b %Y')}.

                    - elsif current_user.unsubscribed?

                      - if current_user.unsubscribed_and_yet_to_finish_cycle?
                    
                        You will NOT be charged #{transaction_amount @plan} immediately.
                        %br
                        You will be automatically charged on #{current_user.next_billing_date.strftime('%e %b %Y')}.
                    
                      - elsif current_user.unsubscribed_and_finished_cycle?
                    
                        You will be charged #{transaction_amount @plan} immediately.
                        %br
                        You will be automatically charged #{transaction_amount @plan} on your next billing date on #{plan_next_billing_date @plan}.
                    
                  %p.strong#renew-false

                    - if current_user.yet_to_subscribe?

                      You will be charged #{transaction_amount @plan} immediately.
                      %br
                      You will NOT be automatically charged #{transaction_amount @plan} on your next billing date on #{plan_next_billing_date @plan}.

                    - elsif current_user.subscribed?

                      You will NOT be charged #{transaction_amount @plan} immediately.
                      %br
                      You will NOT be automatically charged on #{current_user.next_billing_date.strftime('%e %b %Y')}.

                    - elsif current_user.unsubscribed?

                      - if current_user.unsubscribed_and_yet_to_finish_cycle?
                    
                        You will NOT be charged #{transaction_amount @plan} immediately.
                        %br
                        You will NOT be automatically charged on #{current_user.next_billing_date.strftime('%e %b %Y')}.
                    
                      - elsif current_user.unsubscribed_and_finished_cycle?
                    
                        You will be charged #{transaction_amount @plan} immediately.
                        %br
                        You will NOT be automatically charged #{transaction_amount @plan} on your next billing date on #{plan_next_billing_date @plan}.

          %hr

          .row
            .small-1.column
              %h4
                %i.fa.fa-check-circle
            .small-11.column
              %button#submit{type: 'submit'} Confirm

  %section#minor.dark

    = render 'layouts/transaction_validity_stamp'

    %br

    .row
      .medium-8.columns.medium-centered.text-center
        %span
          Read our <a href='/terms-of-service' class='ga-static-pages' data-gtm-category='' data-gtm-action='read tos' data-gtm-label='tos (billing page)' target='_blank'> terms of service</a>.

    %br

    .row
      .medium-8.columns.medium-centered.text-center
        %span
          Read our <a href='/faq' class='ga-static-pages' data-gtm-category='' data-gtm-action='read faq' data-gtm-label='faq (billing page)' target='_blank'> FAQ</a>.

- content_for :javascript do
  = javascript_include_tag "https://js.braintreegateway.com/v2/braintree.js"
  - if current_user.auto_renew
    :javascript
      $('#renew-true').show()
  - else
    :javascript
      $('#renew-false').show()
  :javascript
    var client_token = "#{@client_token}";
    braintree.setup(
      client_token,
      'dropin', {
        container: 'dropin'
      });

    $('#renew').click(function(event){
      if ($(this).prop('checked')) {
        $('#renew-true').slideDown();
        $('#renew-false').slideUp();
      } else {
        $('#renew-true').slideUp();
        $('#renew-false').slideDown();
      }
    });
