#wrapper

  %section

    .row
      .small-12.medium-8.medium-centered.column.text-center
        %h4 Subscription rate: #{subscription_rate(@plan)}

    %hr

    .row
      .small-12.medium-8.medium-centered.column.text-center
        %h4 Enter Credit Card Details Below

    %br

    .row
      .small-12.medium-8.medium-centered.column.text-center
        = form_tag create_payment_path do
          #dropin
          %br
          = hidden_field_tag 'plan', @plan
          = check_box_tag 'renew', "1", false
          %strong Auto renew subscription?
          %br
          %button#submit{type: 'submit'} Confirm

  %section#minor.dark

    = render 'layouts/transaction_validity_stamp'

    %br

    .row
      .medium-8.columns.medium-centered.text-center
        %span
          Read our <a href='/terms-of-service' class='ga-static-pages' data-gtm-category='' data-gtm-action='read tos' data-gtm-label='tos (billing page)' target='_blank'> terms of service</a>.

    %br

    .row
      .medium-8.columns.medium-centered.text-center
        %span
          Read our <a href='/faq' class='ga-static-pages' data-gtm-category='' data-gtm-action='read faq' data-gtm-label='faq (billing page)' target='_blank'> FAQ</a>.

- content_for :javascript do
  = javascript_include_tag "https://js.braintreegateway.com/v2/braintree.js"
  :javascript
    var client_token = "#{@client_token}";
    braintree.setup(
      client_token,
      'dropin', {
        container: 'dropin'
      });