#wrapper
  %section
    .row
      .small-12.column
        40 USD per month
    .row
      .small-12.column
        = form_tag create_payment_path do
          = hidden_field_tag :plan, @plan

          #dropin

          = submit_tag 'Confirm', class: 'btn'

- content_for :javascript do
  = javascript_include_tag "https://js.braintreegateway.com/v2/braintree.js"
  :javascript
    var client_token = "#{@client_token}";
    braintree.setup(
      client_token,
      'dropin', {
        container: 'dropin'
      });