#wrapper
  %section#search-field
    = form_tag '/current_tenders', method: 'get' do
      .row
        .medium-3.small-12.columns.animated{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
          .title-section
            %h3 Search
        .medium-9.columns.animated{"data-animate" => "fadeInUp", "data-animate-delay" => "0"}
          .section-desc
            = text_field_tag 'query', params[:query], placeholder: "Search for a keyword", id: "query-field"

  %section#curent-tender-results
    .row
      .large-12.column
        %table#results-table{role: 'grid'}
          %thead
            %th.row
              %th.medium-5 Description
              %th.medium-1 Published Date
              %th.medium-1 Closing Date
              %th.medium-1 Closing Time
              %th.medium-2 Buyer (Name & Company)
              %th.medium-1 Watch
              %th.medium-1 More Details
          %tbody
            - @tenders.each do |tender|
              %tr.row
                %td.medium-5
                  = tender.description
                %td.medium-1
                  = tender.published_date
                %td.medium-1
                  = tender.closing_datetime.strftime('%a, %e %b %Y')
                %td.medium-1
                  = tender.closing_datetime.strftime('%H:%M %p')
                %td.medium-2
                  = tender.buyer_name_and_company
                %td.medium-1{id: "watch-tender-#{tender.ref_no}"}
                  - if tender.users.include? current_user
                    Watched
                  - else
                    = link_to "Watch", watched_tenders_path(ref_no: tender.ref_no), method: 'post', remote: true
                %td.medium-1
                  More Details
            