#wrapper
  %section#search-field
    = form_tag '/past_tenders', method: 'get' do
      .row
        .medium-3.small-12.columns.animated{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
          .title-section
            %h3 Search
        .medium-9.columns.animated{"data-animate" => "fadeInUp", "data-animate-delay" => "0"}
          .section-desc
            = text_field_tag 'query', params[:query], placeholder: "Search for a keyword", id: "query-field"

  %section#tender-results
    - if @results_count == 0
      .row
        .large-12.column.text-center
          %p There are no tenders available
    - else
      = render partial: 'tenders/total_count', locals: {results_count: @results_count, tenders: @tenders}
      .row
        .large-12.column
          %table#results-table{role: 'grid'}
            %thead
              %th.medium-4 Description
              %th.medium-1 Published Date
              %th.medium-1 Closing Date
              %th.medium-1 Closing Time
              %th.medium-2 Buyer Entity
              %th.medium-1 Details
            %tbody
              - @tenders.each do |tender|
                %tr
                  %td.medium-4
                    = tender.description
                  %td.medium-1
                    = "#{tender.published_date.day.ordinalize} #{tender.published_date.strftime('%b %Y')}"
                  %td.medium-1
                    = "#{tender.closing_datetime.day.ordinalize} #{tender.closing_datetime.strftime('%b %Y')}"
                  %td.medium-1
                    = tender.closing_datetime.strftime('%H:%M %p')
                  %td.medium-2
                    = tender.buyer_company_name
                  %td.medium-1
                    = link_to "More", tender_path(id: tender), remote: true
      = render partial: 'tenders/total_count', locals: {results_count: @results_count, tenders: @tenders}

#view-more-modal.reveal-modal{:'data-reveal' => '', :'aria-hidden' => "true", role: "dialog"}
