#wrapper
  %section
    - if @plan
      .row
        .small-12.column
          = pre_payment_accouncement @plan
    .row
      .small-12.column
        = form_tag payment_methods_path do
          = hidden_field_tag :plan, @plan

          #dropin

          = submit_tag 'Confirm', class: 'btn push--ends'

- content_for :javascript do
  = javascript_include_tag "https://js.braintreegateway.com/v2/braintree.js"
  :javascript
    var client_token = "#{@client_token}";
    braintree.setup(
      client_token,
      'dropin', {
        container: 'dropin'
      });