#wrapper
  - if params['query'].blank?
    %section#hero
      .row
        .large-6.column.text-center
          .counter.animated{"data-perc" => "#{CurrentTender.count}"}
            .number-detail
              %h2
                .number
                .text Current Tenders
        .large-6.column.text-center
          .counter.animated{"data-perc" => "46"}
            .number-detail
              %h2
                .number
                .text Tender Sources and counting
  %section#description
    .row
      .large-12.column
        Did you know that you can add Tenders to your watch list? The watchlist is your personalized list of Tenders that you are interested in!
        %br
        %br
        Easily add or remove Tenders by clicking the "Watch" or "Unwatch" button.
        %br
        %br
        PS: All Tenders sent to you via the daily email notification are automatically added to your watchlist.
  %hr
  .row
    .large-12.column
      %ul.tabs{"data-tab" => ""}
        %li.tab-title{class: "#{(@type == 'current' || @type.nil?) ? 'active' : ''}"}
          %a{:href => "#current-watched-tenders"} Current Tenders
        %li.tab-title{class: "#{@type == 'past' ? 'active' : ''}"}
          %a{:href => "#past-watched-tenders"} Past Tenders

  .row
    .large-12.column
      .tabs-content

        #current-watched-tenders.content{class: "#{(@type == 'current' || @type.nil?) ? 'active' : ''}"}
          %section.search-field
            = form_tag '/watched_tenders', method: 'get' do
              = hidden_field_tag 'type', 'current'
              .row
                .medium-3.small-12.columns
                  .title-section
                    %h3 Search
                .medium-9.columns
                  .row
                    .medium-8.column
                      .section-desc
                        = text_field_tag 'query', params[:query], placeholder: "Search for a keyword", id: "query-field"
                    .medium-2.column
                      .section-desc
                        %button.search-submit-button{type: "submit"}
                          = fa_icon('search')
                    .medium-2.column
                      .section-desc
                        = link_to watched_tenders_path do
                          %button.back-button{type: "button"}
                            = fa_icon('mail-reply')
          %section.tender-results
            - if @current_tenders_count == 0
              .row
                .large-12.column.text-center
                  %p There are no tenders available
            - else
              .row
                .large-offset-6.large-6.column.text-right
                  = render partial: 'tenders/total_count', locals: {results_count: @current_tenders_count, tenders: nil}
              .row
                .large-12.column
                  = render partial: 'tenders/watched_tenders_table', locals: {tenders: @current_tenders}
              .row
                .large-offset-6.large-6.column.text-right
                  = render partial: 'tenders/total_count', locals: {results_count: @current_tenders_count, tenders: @current_tenders}
       
        #past-watched-tenders.content{class: "#{@type == 'past' ? 'active' : ''}"}
          %section.search-field
            = form_tag '/watched_tenders', method: 'get' do
              = hidden_field_tag 'type', 'past'
              .row
                .medium-3.small-12.columns
                  .title-section
                    %h3 Search
                .medium-9.columns
                  .row
                    .medium-8.column
                      .section-desc
                        = text_field_tag 'query', params[:query], placeholder: "Search for a keyword", id: "query-field"
                    .medium-2.column
                      .section-desc
                        %button.search-submit-button{type: "submit"}
                          = fa_icon('search')
                    .medium-2.column
                      .section-desc
                        = link_to watched_tenders_path do
                          %button.back-button{type: "button"}
                            = fa_icon('mail-reply')
          %section.tender-results
            - if @past_tenders_count == 0
              .row
                .large-12.column.text-center
                  %p There are no tenders available
            - else
              .row
                .large-offset-6.large-6.column.text-right
                  = render partial: 'tenders/total_count', locals: {results_count: @past_tenders_count, tenders: nil}
              .row
                .large-12.column
                  = render partial: 'tenders/watched_tenders_table', locals: {tenders: @past_tenders}
              .row
                .large-offset-6.large-6.column.text-right
                  = render partial: 'tenders/total_count', locals: {results_count: @past_tenders_count, tenders: @past_tenders}

#view-more-modal.reveal-modal{:'data-reveal' => '', :'aria-hidden' => "true", role: "dialog"}
- content_for :javascript do
  :javascript
    $(function(){
      $(document).on('click', '.watch-button, .unwatch-button, .more-button', function(){
        $('html,body').addClass('loading');
      });
    });