#wrapper
  %section
    .row
      .medium-3.small-12.columns.medium-centered.animated{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
        .title-section
          %h3 Login
      -# .medium-9.columns.animated{"data-animate" => "fadeInUp", "data-animate-delay" => "0"}
      -#   .section-desc
      -#     %h4 Meet our creative people
      -#     %p Despite recent advances in web type technology we’re still fairly limited when it comes to creative typography layouts, meaning image replacement techniques are still common.
    .row
      / start contact form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        #message= devise_error_messages!
        .large-6.column.large-centered
          = f.email_field :email, placeholder: 'Email'
        .large-6.column.large-centered
          = f.password_field :password, autocomplete: "off", placeholder: "Password (8 characters minimum)"
        .large-6.columns.large-centered.text-center
          %button#submit{:type => "submit"} Login
        .large-6.columns.large-centered.shared-links
          = render "users/shared/links"
