#wrapper
  %section
    .row
      .medium-3.small-12.columns.medium-centered.animated{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
        .title-section
          %h3 Login
      -# .medium-9.columns.animated{"data-animate" => "fadeInUp", "data-animate-delay" => "0"}
      -#   .section-desc
      -#     %h4 Meet our creative people
      -#     %p Despite recent advances in web type technology we’re still fairly limited when it comes to creative typography layouts, meaning image replacement techniques are still common.
    .row
      / start contact form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        #message= devise_error_messages!
        .small-12.medium-6.column.small-centered
          = f.email_field :email, placeholder: 'Email'
        .small-12.medium-6.column.small-centered
          = f.password_field :password, autocomplete: "off", placeholder: "Password (8 characters minimum)"
          %a.show-password Show Password
        %br
        .small-12.medium-6.column.small-centered
          = label_tag 'remember_me' do
            = f.check_box :remember_me
            %span Keep me logged in
          %br
          %br
        .small-12.medium-6.columns.small-centered.text-center
          %button#submit{:type => "submit"} Login
        .small-12.medium-6.columns.small-centered.shared-links
          -# = render "users/shared/links"
          = link_to "Forgot your password?", new_password_path(resource_name)
          %br
          = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
          %br
- content_for :javascript do
  :javascript
    $(function(){
      $("form#new_user input[type='password']").each(function (index, input) {
        var $input = $(input);
        $("form#new_user .show-password").click(function () {
          var change = "";
          if ($(this).html() === "Show Password") {
            $(this).html("Hide Password")
            change = "text";
          } else {
            $(this).html("Show Password");
            change = "password";
          }
          var rep = $("<input type='" + change + "' />")
            .attr("id", $input.attr("id"))
            .attr("name", $input.attr("name"))
            .attr("placeholder", $input.attr("placeholder"))
            .attr('class', $input.attr('class'))
            .val($input.val())
            .insertBefore($input);
          $input.remove();
          $input = rep;
        });
      });
      $("form#new_user").validate({
        rules: {
          "user[email]": {
            required: true,
            email: true,
          },
          "user[password]": {
            required: true,
            minlength: 8
          }
        },
        messages: {
          "user[email]": {
            required: "An email is required.",
            email: "Your email is in an invalid format."
          },
          "user[password]": {
            required: "A password is required.",
            minlength: "Your password should be at least 8 characters."
          }
        }
      });
    });