#wrapper
  - if params['query'].blank?
    %section#hero
      .row
        .large-6.column.text-center
          .counter.animated{"data-perc" => "#{CurrentTender.count}"}
            .number-detail
              %h2
                .number
                .text Current Tenders
        .large-6.column.text-center
          .counter.animated{"data-perc" => "35"}
            .number-detail
              %h2
                .number
                .text Tender Sources and counting
  %section#description
    .row
      .large-12.column
        Come to this section to quickly filter all the Current Tenders to your desired Keywords! Add them quickly to your watchlist if necessary.
  - if @results_count.nil?
    %section#tender-results
      .row
        .large-12.column
          %p Click #{link_to "here", keywords_user_path} to set your keywords and get emails everyday on new tenders related to your set of keywords.
  - else
    - if @results_count == 0
      %section#tender-results
        .row
          .large-12.column
            %p There are no tenders available
            %p Click #{link_to "here", keywords_user_path} to change your keywords and get emails everyday on new tenders related to your set of keywords.
    - else
      %section#tender-results
        = render partial: 'tenders/total_count', locals: {results_count: @results_count, tenders: @tenders}
        = render partial: 'tenders/tenders_table', locals: {tenders: @tenders}
        = render partial: 'tenders/total_count', locals: {results_count: @results_count, tenders: @tenders}
      
#view-more-modal.reveal-modal{:'data-reveal' => '', :'aria-hidden' => "true", role: "dialog"}
