#wrapper
  - if params['query'].blank?
    %section#hero
      .row
        .small-6.column.text-center
          .counter.animated{"data-perc" => "#{CurrentTender.count}"}
            .number-detail
              %h2
                .number
                .text Current Tenders
        .small-6.column.text-center
          .counter.animated{"data-perc" => "46"}
            .number-detail
              %h2
                .number
                .text Tender Sources and counting
  %section#description
    .row
      .small-12.column
        Come to this section to quickly filter all the Current Tenders to your desired Keywords! Add them quickly to your watchlist if necessary.
  - if @results_count.nil?
    %section#tender-results
      .row
        .small-12.column
          %p Click #{link_to "here", keywords_user_path} to set your keywords and get emails everyday on new tenders related to your set of keywords.
  - else
    - if @results_count == 0
      %section#tender-results
        .row
          .small-12.column
            %p There are no tenders available
            %p Click #{link_to "here", keywords_user_path} to change your keywords and get emails everyday on new tenders related to your set of keywords.
    - else
      %section#tender-results
        = form_tag update_keywords_path, method: :post do
          .row
            .small-8.columns.small-centered.text-center
              Your keywords:
              = text_area_tag 'keywords', cookies[:keywords] || current_user.keywords, placeholder: "Enter up to 20 keywords separated by commas, eg. jurong,maintenance, event"
              %button#submit{:type => "submit"} UPDATE
        %br
        .row
          .small-offset-6.small-6.column.text-right
            = render partial: 'tenders/total_count', locals: {results_count: @results_count, tenders: @tenders}
        = render partial: 'tenders/tenders_table', locals: {tenders: @tenders}
        .row
          .small-offset-6.small-6.column.text-right
            = render partial: 'tenders/total_count', locals: {results_count: @results_count, tenders: @tenders}
      
#view-more-modal.reveal-modal{:'data-reveal' => '', :'aria-hidden' => "true", role: "dialog"}
