#wrapper
  - if @results_count == 0
    %section#tender-results
      .row
        .large-12.column
          %p There are no tenders available
  - else
    %section#tender-results
      = render partial: 'tenders/total_count', locals: {results_count: @results_count, tenders: @tenders}
      .row
        .large-12.column
          - if @tenders.nil?
            Click #{link_to "here", keywords_user_path} to set your keywords and get emails everyday on new tenders related to your set of keywords.
          - else
            %p Your keywords: #{current_user.keywords}.
            %table#results-table{role: 'grid'}
              %thead
                %th.medium-4 Description
                %th.medium-1 Published Date
                %th.medium-1 Closing Date
                %th.medium-1 Closing Time
                %th.medium-2 Buyer
                %th.medium-2 Buyer Company
                %th.medium-1 Action
              %tbody
                - @tenders.each do |tender|
                  %tr
                    %td.medium-3
                      = tender.description
                    %td.medium-1
                      = tender.published_date
                    %td.medium-1
                      = tender.closing_datetime.strftime('%a, %e %b %Y')
                    %td.medium-1
                      = tender.closing_datetime.strftime('%H:%M %p')
                    %td.medium-2
                      = tender.buyer_name
                    %td.medium-2
                      = tender.buyer_company_name
                    %td.medium-1
                      %div{id: "watch-tender-#{tender.ref_no}"}
                        - if tender.users.include? current_user
                          = link_to "Unwatch", watched_tender_path(id: tender.ref_no), method: 'delete', remote: true
                        - else
                          = link_to "Watch", watched_tenders_path(ref_no: tender.ref_no), method: 'post', remote: true
                      %br
                      %div
                        = link_to "More", tender_path(id: tender), remote: true
      = render partial: 'tenders/total_count', locals: {results_count: @results_count, tenders: @tenders}
      
#view-more-modal.reveal-modal{:'data-reveal' => '', :'aria-hidden' => "true", role: "dialog"}
