%a.close-reveal-modal{:'aria-label' => "Close"} &#215;
= form_for @tender, remote: true do |f|
  .row
    = f.hidden_field :ref_no
    = f.hidden_field :published_date
    = f.hidden_field :postee_id
    .small-12.columns.small-centered
      <strong>Company: #{current_user.company_name}</strong>
      = f.hidden_field :buyer_company_name
      %br
      %br
    .small-12.columns.small-centered
      <strong>Short Description of Your Buying Requirement</strong>
      = f.text_area :description
    .small-12.columns.small-centered
      <strong>Buyer Name</strong> (may not be your name)
      = f.text_field :buyer_name, value: current_user.name, placeholder: "Leaving the full name will be helpful"
    .small-12.columns.small-centered
      <strong>Buyer Email</strong> (may not be your email)
      = f.text_field :buyer_email, value: current_user.email
    .small-12.columns.small-centered
      <strong>Buyer Contact Number</strong> (may not be your phone number)
      = f.text_field :buyer_contact_number
    .small-12.columns.small-centered
      <strong>Budget</strong>
      #budget-error
      = f.radio_button(:budget, "$1000 - $4999")
      = label_tag(:budget, "$1000 - $4999")
      = f.radio_button(:budget, "$5000 - $9999")
      = label_tag(:budget, "$5000 - $9999")
      = f.radio_button(:budget, "> $10000")
      = label_tag(:budget, "> $10000")
    .small-12.columns.small-centered
      <strong>Closing Date Time</strong>
      = f.datetime_field :closing_datetime, value: f.object.closing_datetime.strftime("%Y-%m-%e %H:%M"), placeholder: "Closing date & time"
    .small-12.columns.small-centered
      <strong>Fill in Your Buying Requirements Description</strong>
      #description-error
      = f.text_area :long_description, placeholder: "You can fill in details like:\r\nExpected Quantity (IT Equipment, Furniture, T-Shirt Printing etc)\r\nScope of Work (Painting, Renovation)\r\nPax (Events, Catering)"
    .small-12.columns.small-centered.text-center
      %button#submit{:type => "submit"} SEND

:javascript
  $('#tender_closing_datetime').fdatepicker({
    format: 'yyyy-mm-dd hh:ii',
    pickTime: true
  });
  $(document).on("focusin", "#tender_closing_datetime", function(event) {
    $(this).prop('readonly', true);
  });
  $(document).on("focusout", "#tender_closing_datetime", function(event) {
    $(this).prop('readonly', false);
  });
  $('#tender_closing_datetime').on('changeDate',function(){
    $(this).valid();
  });
  $("form.edit_tender").validate({
    rules: {
      "tender[buyer_name]": {
        required: true
      },
      "tender[buyer_email]": {
        required: true,
        email: true
      },
      "tender[buyer_contact_number]": {
        required: true,
        digits: true,
        range: [80000000,99999998],
        minlength: 8,
        maxlength: 8
      },
      "tender[budget]": {
        required: true
      },
      "tender[closing_datetime]": {
        required: true
      },
      "tender[description]": {
        required: true
      },
      "tender[long_description]": {
        required: true
      }
    },
    errorPlacement: function(error, element) {
      if (element.attr("name") == "tender[budget]") {
        error.appendTo("#budget-error");
      } else if (element.attr("name") == "tender[long_description]") {
        error.appendTo("#description-error");
      } else {
        error.insertAfter(element);
      }
    },
    messages: {
      "tender[buyer_email]": {
        required: "Email of person of contact is required.",
        email: "Your email is in an invalid format."
      },
      "tender[buyer_name]": {
        required: "Name of person of contact is required."
      },
      "tender[budget]": {
        required: "Budget range required"
      },
      "tender[closing_datetime]": {
        required: "Closing date time required"
      },
      "tender[long_description]": {
        required: "Tender description is required"
      },
      "tender[long_description]": {
        required: "A short description of your buying requirement is required"
      },
      "tender[buyer_contact_number]": {
        required: "Contact number of the person of contact is required",
        digits: "Please leave a valid mobile number",
        range: "Please leave a valid mobile number",
        minlength: "Please leave only 8 digits",
        maxlength: "Please leave only 8 digits"
      }
    }
  });
