.row
  .small-12.column
    %table#results-table{role: 'grid'}
      %thead
        %th.medium-5 Description
        %th.medium-1 Published Date
        %th.medium-1 Closing Date
        %th.medium-1 Closing Time
        %th.medium-2 Buyer Entity
        - if type == 'current'
          %th.medium-1 Edit
        %th.medium-1 Details
      %tbody
        - tenders.each do |tender|
          %tr
            %td.medium-5
              = simple_format tender.description, {}, wrapper_tag: 'div'
            %td.medium-1
              = "#{tender.published_date.day.ordinalize} #{tender.published_date.strftime('%b %Y')}"
            %td.medium-1
              = "#{tender.closing_datetime.day.ordinalize} #{tender.closing_datetime.strftime('%b %Y')}"
            %td.medium-1
              = tender.closing_datetime.strftime('%H:%M %p')
            %td.medium-2
              = tender.buyer_company_name
            - if type == 'current'
              %td.medium-1
                %div{id: "edit-tender-#{tender.ref_no}"}
                  = link_to "Edit", edit_tender_path(tender.ref_no), method: 'get', remote: true, class: "button edit-button"
            %td.medium-1
              %div
                = link_to "More", tender_path(id: tender), remote: true, class: 'button more-button'
- content_for :javascript do
  :javascript
    $(function(){
      $(document).on('click', '.edit-button, .more-button', function(){
        $('html,body').addClass('loading');
      });
    });