%table.results-table{role: 'grid'}
  %thead
    %th.medium-1
      = check_box_tag 'select_all'
      %a#destroy-all-button= fa_icon('trash')
    %th.medium-1 Status
    %th.medium-4 Description
    %th.medium-1 Published Date
    %th.medium-1 Closing Date
    %th.medium-1 Closing Time
    %th.medium-1 Buyer Entity
    %th.medium-1 Watchlist
    %th.medium-1 Details
  %tbody
    - tenders.each_with_index do |tender, index|
      %tr
        %td.medium-1
          = check_box_tag "select_single[]", tender.ref_no, false, id: "select_single_#{index}"
        %td.medium-1
          = tender.status.capitalize
        %td.medium-4
          = simple_format tender.description, {}, wrapper_tag: 'div', sanitize: false
        %td.medium-1
          = "#{tender.published_date.day.ordinalize} #{tender.published_date.strftime('%b %Y')}"
        %td.medium-1
          = "#{tender.closing_datetime.day.ordinalize} #{tender.closing_datetime.strftime('%b %Y')}"
        %td.medium-1
          = tender.closing_datetime.strftime('%H:%M %p')
        %td.medium-2
          = tender.buyer_company_name
        %td.medium-1
          %div{id: "watch-tender-#{tender.ref_no}"}
            - if tender.users.include? current_user
              = link_to "Unwatch", watched_tender_path(id: tender.ref_no), method: 'delete', remote: true, class: "button unwatch-button ga-tenders-unwatch", data: {tender_id: tender.ref_no}
            - else
              = link_to "Watch", watched_tenders_path(ref_no: tender.ref_no), method: 'post', remote: true, class: "button watch-button ga-tenders-watch", data: {tender_id: tender.ref_no}
        %td.medium-1
          %div
            = link_to "More", tender_path(tender), remote: true, class: "button more-button ga-tenders-more", data: {tender_id: tender.ref_no}
- content_for :javascript do
  :javascript
    $(function(){
      $(document).on('click', '.watch-button, .unwatch-button, .more-button', function(){
        $('html,body').addClass('loading');
      });
      $(document).on('click','.ga-tenders-unwatch, .ga-tenders-watch, .ga-tenders-more', function(){
        GA_tender_id = $(this).data('tender-id');
        google_tag_manager["#{ENV['GTM_ID']}"].dataLayer.set('tender_id',GA_tender_id);
      });
      $('#select_all').change(function(){
        if (this.checked) {
          $("input[id^='select_single_']").prop('checked', true);
        } else {
          $("input[id^='select_single_']").prop('checked', false);
        }
      });
      $('#destroy-all-button').click(function(event){
        if (confirm('Delete all checked tenders from your watchlist. Are you sure?')) {
          var selected = [];
          $("input[id^='select_single_']").each(function(){
            if (this.checked) {
              selected.push($(this).attr('value'));
            }
          });
          $.ajax({
            url: "#{mass_destroy_path}",
            method: 'POST',
            data: {
              ids: selected
            }
          });
        }
      });
    });