#wrapper
  %section#form
    .row
      .small-12.columns.animated{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
        .title-section
          %h3
            %strong Edit Buying Requirement

    #message
    = form_for @tender, authenticity_token: true do |f|
      .row
        = f.hidden_field :ref_no
        = f.hidden_field :published_date
        = f.hidden_field :postee_id
        .small-12.columns.small-centered
          <strong>Company: #{current_user.company_name}</strong>
          = f.hidden_field :buyer_company_name
          %br
          %br
        .small-12.columns.small-centered
          <strong>Short Description of Your Buying Requirement</strong>
          = f.text_area :description
        .small-12.columns.small-centered
          <strong>Buyer Name</strong> (may not be your name)
          = f.text_field :buyer_name
        .small-12.columns.small-centered
          <strong>Buyer Email(s)</strong> (separate multiple emails with commas)
          = f.email_field :buyer_email
        .small-12.columns.small-centered
          <strong>Buyer Contact Number</strong> (may not be your phone number)
          = f.text_field :buyer_contact_number
        .small-12.columns.small-centered
          <strong>Closing Date Time</strong>
          = f.datetime_field :closing_datetime, value: f.object.closing_datetime.strftime("%Y-%m-%d %H:%M"), placeholder: "Closing date & time"
        .small-12.columns.small-centered
          <strong>Fill in Your Buying Requirements Description</strong>
          #description-error
          = f.text_area :long_description, placeholder: "You can fill in details like:\r\nExpected Quantity (IT Equipment, Furniture, T-Shirt Printing etc)\r\nScope of Work (Painting, Renovation)\r\nPax (Events, Catering)"
        .small-12.columns.small-centered
          <strong>Documents</strong> (maximum size per file: 10MB)
          = f.fields_for :documents do |ff|
            = render partial: 'tenders/document_fields', locals: {f: ff}
          = link_to_add_fields "Add More", f, :documents
        .small-12.columns.small-centered.text-center
          %button#submit{:type => "submit"} SUBMIT

- content_for :javascript do
  :javascript
    $(document).on('click', "form.edit_tender .remove-upload", function(event) {
      $(this).prev('input[type=hidden]').val('1');
      $(this).closest('fieldset').hide();
      event.preventDefault();
    });
    $(document).on('click', 'form.edit_tender .add-upload', function(){
      var time = new Date().getTime();
      var regexp = new RegExp($(this).data('id'),'g');
      $(this).before($(this).data('fields').replace(regexp, time));
      event.preventDefault();
    });
    $('#tender_closing_datetime').fdatepicker({
      format: 'yyyy-mm-dd hh:ii',
      pickTime: true
    });
    $(document).on("focusin", "#tender_closing_datetime", function(event) {
      $(this).prop('readonly', true);
    });
    $(document).on("focusout", "#tender_closing_datetime", function(event) {
      $(this).prop('readonly', false);
    });
    $('#tender_closing_datetime').on('changeDate',function(){
      $(this).valid();
    });
    $("form.edit_tender").validate({
      rules: {
        "tender[buyer_name]": {
          required: true
        },
        "tender[buyer_email]": {
          required: true,
          email: true
        },
        "tender[buyer_contact_number]": {
          required: true,
          digits: true,
          minlength: 8,
          maxlength: 8
        },
        "tender[closing_datetime]": {
          required: true
        },
        "tender[description]": {
          required: true
        },
        "tender[long_description]": {
          required: true
        }
      },
      errorPlacement: function(error, element) {
        if (element.attr("name") == "tender[long_description]") {
          error.appendTo("#description-error");
        } else {
          error.insertAfter(element);
        }
      },
      messages: {
        "tender[buyer_email]": {
          required: "Email of person of contact is required.",
          email: "Please enter a valid email."
        },
        "tender[buyer_name]": {
          required: "Name of person of contact is required."
        },
        "tender[closing_datetime]": {
          required: "Closing date time required"
        },
        "tender[long_description]": {
          required: "Tender description is required"
        },
        "tender[description]": {
          required: "A short description of your buying requirement is required"
        },
        "tender[buyer_contact_number]": {
          required: "Contact number of the person of contact is required",
          digits: "Please leave a valid mobile number",
          minlength: "Please leave only 8 digits",
          maxlength: "Please leave only 8 digits"
        }
      }
    });
