#wrapper
  .row#content
    .small-8.column.main
      - if !@tender.in_house?
        .row
          .small-12.column
            .header Reference No
          .small-12.column
            = @tender.ref_no_for_display
        .row
          .small-12.column
            .header Buyer Company Name
          .small-12.column
            = @tender.buyer_company_name
      .row
        .small-12.column
          .header Description
        .small-12.column
          = @tender.description
      .row
        .small-12.column
          .header Published Date
        .small-12.column
          = "#{@tender.published_date.day.ordinalize} #{@tender.published_date.strftime('%b %Y')}"
      .row
        .small-12.column
          .header Closing Date
        .small-12.column
          = "#{@tender.closing_datetime.day.ordinalize} #{@tender.closing_datetime.strftime('%b %Y')}"
      .row
        .small-12.column
          .header Closing Time
        .small-12.column
          = @tender.closing_datetime.strftime('%H:%M %p')
      - if @tender.in_house?
        .row
          .small-12.column
            .header Full Description
          .small-12.column
            = @tender.long_description
      - else
        .row
          .small-12.column
            .header Original Link
          .small-12.column
            - if @tender.is_gebiz?
              Step 1) Click this <a href='https://www.gebiz.gov.sg/scripts/main.do?sourceLocation=openarea&select=tenderId' class='external-link' target='_blank'>link</a> to open up an instance with GeBiz. You only have to do this once per session.
              %br
              Step 2) Cilck this <a href='#{@tender.external_link}' class='external-link' target='_blank'>link</a> to view this tender on Gebiz.
            - else
              = link_to @tender.external_link, @tender.external_link, target: '_blank'
    .small-4.column
      - if !@tender.in_house?
        .row
          .small-12.column
            .header Buyer Name
          .small-12.column
            = @tender.buyer_name
        .row
          .small-12.column
            .header Buyer Contact Number
          .small-12.column
            = @tender.buyer_contact_number
        .row
          .small-12.column
            .header Buyer Email
          .small-12.column
            = @tender.buyer_email
      - else
        .row
          .small-12.column
            .header#reveal-in-house-tender-details-button Click here to show details
        #in-house-tender-details
          .row
            .small-12.column
              .header Buyer Company
            .small-12.column
              = @tender.buyer_company_name
          .row
            .small-12.column
              .header Buyer Name
            .small-12.column
              = @tender.buyer_name
          .row
            .small-12.column
              .header Buyer Contact Number
            .small-12.column
              = @tender.buyer_contact_number
          .row
            .small-12.column
              .header Buyer Email
            .small-12.column
              = @tender.buyer_email

- content_for :javascript do
  :javascript
    $(function(){
      $('#reveal-in-house-tender-details-button').click(function(){
        $('#in-house-tender-details').show();
        $('#reveal-in-house-tender-details-button').hide();
      });
    });