#wrapper
  .row#content

    .small-12.column
      .header Reference No
    .small-12.column
      = @tender.ref_no_for_display
  
    .small-12.column
      .header Description
    .small-12.column
      = simple_format @tender.description, {}, wrapper_tag: 'div', sanitize: false
  
    .small-12.column
      .header Published Date
    .small-12.column
      = "#{@tender.published_date.day.ordinalize} #{@tender.published_date.strftime('%b %Y')}"
  
    .small-12.column
      .header Closing Date
    .small-12.column
      = "#{@tender.closing_datetime.day.ordinalize} #{@tender.closing_datetime.strftime('%b %Y')}"
  
    .small-12.column
      .header Closing Time
    .small-12.column
      = @tender.closing_datetime.strftime('%H:%M %p')

    - unless @tender.long_description.blank?
        
      .small-12.column
        .header Full Description
      .small-12.column
        = simple_format @tender.long_description, {}, wrapper_tag: 'div', sanitize: false

    .small-12.column
      %hr

    - if tender_already_unlocked? current_user.trial_tender_ids, @tender.ref_no

      - if @tender.in_house?

        .small-12.column
          %a#ga-tender-inhouse-more.ga-tenders{data: {gtm_category: '', gtm_action: 'inhouse details', gtm_label: @tender.ref_no}} Show buyer details

        #in-house-tender-details
          = render partial: 'tenders/buyer_details', locals: {tender: @tender}

        - content_for :javascript do
          :javascript
            $('#ga-tender-inhouse-more').click(function(){
              $('#in-house-tender-details').show();
              $(this).remove();
              $.ajax({
                url: "#{viewed_tenders_path}",
                data: {
                  ref_no: "#{@tender.ref_no}"
                },
                method: "POST"
              });
            });
          
      - else

        = render partial: 'tenders/buyer_details', locals: {tender: @tender}

    - else

      - if current_user.finished_trial_but_yet_to_subscribe? || current_user.unsubscribed_and_finished_cycle?

        - if current_user.trial_tender_ids.size >= 3

          .small-12.column
            You have used up your credits for the week to unlock business leads.
            %br
            To get UNLIMITED access to ALL tenders on Tengence, <a href='/billing' class='ga-tenders' data-gtm-category='' data-gtm-action='prompt subscribe' data-gtm-label={@tender.ref_no}>SUBSCRIBE now</a>!

        - else

          #buyer-details
            .small-12.column
              %span
                %a#buy-details.ga-tenders{data: {gtm_category: '', gtm_action: 'buy details', gtm_label: @tender.ref_no}} Reveal buyer details with 1 credit
              (You have #{3 - current_user.trial_tender_ids.size} credits left for the week)

          - content_for :javascript do
            :javascript
              $('#buy-details').click(function(){
                document.body.classList.add('loading');
                $.ajax({
                  url: "/trial_tenders",
                  data: {
                    ref_no: "#{@tender.ref_no}"
                  },
                  method: "POST",
                  success: function(data){
                    console.log(data);
                    if (data.statusCode !== 'maxed_for_the_day') {
                      $.ajax({
                        url: "/tenders/#{@tender.ref_no}/reveal_buyer_details",
                        method: 'GET',
                      });
                    } else {
                      $('#buyer-details').html("<div class='small-12 column'>You have used up your credits for the week to unlock business leads.<br/>To get UNLIMITED access to ALL tenders on Tengence, <a href='/billing' class='ga-tenders' data-gtm-category='' data-gtm-action='prompt subscribe' data-gtm-label=<%= @tender.ref_no %>>SUBSCRIBE now</a>!</div>");
                      document.body.classList.remove('loading');
                      alert('You have used up all your credits for the week. Please come back next week.');
                    }
                  },
                  error: function(xhr, status, err){
                    Tengence.ReactFunctions.notifyError(window.location.href,'buyDetails', xhr.statusText)
                    alert("Sorry there has been an error. \r\nOur developers are notified and are working on it. \r\nSorry for the inconvenience caused.")
                    document.body.classList.remove('loading');
                  }
                });
              });

      - else

        - if @tender.in_house?

          .small-12.column
            %a#ga-tender-inhouse-more.ga-tenders{data: {gtm_category: '', gtm_action: 'inhouse details', gtm_label: @tender.ref_no}} Show buyer details

          #in-house-tender-details
            = render partial: 'tenders/buyer_details', locals: {tender: @tender}

          - content_for :javascript do
            :javascript
              $('#ga-tender-inhouse-more').click(function(){
                $('#in-house-tender-details').show();
                $(this).remove();
                $.ajax({
                  url: "#{viewed_tenders_path}",
                  data: {
                    ref_no: "#{@tender.ref_no}"
                  },
                  method: "POST"
                });
              });

        - else

          = render partial: 'tenders/buyer_details', locals: {tender: @tender}
