#wrapper

  %section#faq-general

    .row
      .small-12.column
        .subtitle
          %h2
            FAQ <span class='color'>-</span> General
          %p Here are some common questions that we have been getting from our clients.

    .row
      .small-12.column
        %ul.accordion{data: {accordion: "billingAccordion", options: "multi_expand:true;toggleable: true"}}

          %li.accordion-navigation
            %a{:href => "#faq-general-what"} What is Tengence? And what benefits do I have by signing up with Tengence?
            #faq-general-what.content
              %p We understand that SMEs have limited resources and manpower. We also understand that there are many tenders & business opportunities out there in Singapore.
              %p Did you know that there are more than 60 different sources in Singapore that releases business opportunities on a regular basis? Examples of these sources include GeBIZ, Sesami and Ariba procurement portals.
              %p As such, it is not productive or economically feasible for SMEs to constantly monitor these 60 sources for new business opportunities.
              %p Let us do the monitoring for you and bring all the relevant potential business leads and tenders right to your doorstep.
              %p One of our early beta users (an events company based locally) had an increase of 280% in sales just after one month of subscription to our services! We will want to bring this value to all our users.

          %li.accordion-navigation
            %a{:href => "#faq-general-start"} How to I get started with Tengence?
            #faq-general-start.content
              %p Simply drop by over #{link_to 'here', register_path} to sign up!

          %li.accordion-navigation
            %a{:href => "#faq-general-keywords"} Why do I have to add keywords?
            #faq-general-keywords.content
              %p Tengence tracks business opportunities and tenders via keywords.
              %p For example: “RFQ for Printing of Brochures” tender has been released. If your keywords has “Print” or “Brochure”, this tender will be automatically tracked and send to you via the daily email alerts.

          %li.accordion-navigation
            %a{:href => "#faq-general-email"} Help! I am not receiving your daily email alerts!
            #faq-general-email.content
              %p As part of our commitment to help SMEs in productivity, you will only receive email alerts if we have found any tenders or business opportunities that matches your keywords.
              %p Hence, it is important that your keywords remain as accurate to your business as possible!
              %p There will not be any email alerts on Public Holidays or Saturdays/Sundays as well.

  %section#faq-billing.dark

    .row
      .small-12.column
        .subtitle.white
          %h2
            FAQ <span class='color'>-</span> Billing
          %p.white Here are some upcoming features that Tengence is looking to add.
          %p.white We will love to hear feedbacks on these features, as well as any new features that our clients will love to have.

    .row
      .small-12.column
        %ul.accordion{data: {accordion: "planAccordion", options: "multi_expand:true;toggleable: true"}}

          %li.accordion-navigation
            %a{:href => "#faq-billing-cost"} Wow, your service seems awesome! How much does it cost to subscribe to Tengence’s Services?
            #faq-billing-cost.content
              %p After our free trial of one month, you have the option to subscribe to our services!
              %p Our subscription currently comes in 3 tiers.
              %p Billed Monthly: SGD 59 / Month
              %p Billed Quarterly: SGD 49 / Month. You will be billed SGD 147 for 3 months.
              %p Billed Annually: SGD 39 / Month. You will be billed SGD 468 for 12 months.
              %p Please do note that all payments are automatically billed on a recurring basis.

          %li.accordion-navigation
            %a{:href => "#faq-billing-payment-options"} What payment options are available for Tengence’s subscriptions?
            #faq-billing-payment-options.content
              %p We offer monthly, quarterly and annual subscriptions by credit card (Mastercard & Visa) at this current moment.

          %li.accordion-navigation
            %a{:href => "#faq-billing-security"} How will Tengence handle your credit card security and information?
            #faq-billing-security.content
              %p Tengence is certified by RapidSSL and encrypts sensitive credit card information before sending them across the Internet to our 3rd party payment system vendor, #{link_to "Braintree", "https://articles.braintreepayments.com/reference/security/pci-compliance"}, for credit card transactions.
              %p Tengence follows the Payment Card Industry Data Security Standard (PCI DSS), as required by Braintree, which is a highly reliable electronics payment subsidiary under #{link_to "PayPal®", "http://www.paypal.com"}.
              %p Tengence will NOT store any of our users credit card information on our servers but in Braintree's vault.
              %p Click the badge below to view our verfication seal credited under Braintree.
              %p
                %a{href: "https://www.braintreegateway.com/merchants/#{ENV['BRAINTREE_MERCHANT_ID']}/verified", target: "_blank"}
                  = image_tag "https://s3.amazonaws.com/braintree-badges/braintree-badge-dark.png", width: "164px", height: "44px", border: "0"

          %li.accordion-navigation
            %a{:href => "#faq-billing-trial-period"} How long is the free Trial?
            #faq-billing-trial-period.content
              %p Free trial lasts for 30 days from the point of registration. After the free trial, your account will be automatically downgraded to the free tier.

          %li.accordion-navigation
            %a{:href => "#faq-billing-trial"} What is the free tier? How do I qualify for the free tier?
            #faq-billing-trial.content
              %p We understand that some of you might not be using Tengence’s services frequently. We really want all of you to be part of Tengence’s community!
              %p As such, the free tier is specially designed for these users.
              %p Our free tier starts right after the end of the free trial period should you not wish to subscribe to our services. Under the free trial, you can only see the full details of a tender up to a limit of 3 for a week. The limit will be reset in the following week.

          %li.accordion-navigation
            %a{:href => "#faq-billing-refund"} What is our refund policy?
            #faq-billing-refund.content
              %p As we have provided our users with a one month free trial to our services, Tengence will not refund any subscription thereafter should you decide to subscribe to our paid subscription fees.
              %p Also, we do not refund the remainder of the billing cycling if you choose to unsubscribe in the middle of your paid subscription.
              %p If you choose to cancel your recurring payment to Tengence, you will still be able to enjoy the full privileges of a subscribed user until the end of the billing cycle. After which, you will be automatically downgraded to our free tier.

          %li.accordion-navigation
            %a{:href => "#faq-billing-receipt"} Do I get a copy of your subscription receipt?
            #faq-billing-receipt.content
              %p Yes, it will be sent to your registered email address each time you/your company is billed at the start of each billing cycle. The receipt will be made to your name, company and email address as indicated during the registration page. So please fill up those accurately!

          %li.accordion-navigation
            %a{:href => "#faq-billing-upgrade"} How can I change my subscription plan?
            #faq-billing-upgrade.content
              %p You can change subscription plan or unsubscribe any time during or after your subscription period.
              %p If you change subscription plan in the middle of your current subscription cycle, you will NOT be billed immediately. Billing will take place at the end of your current cycle to kickstart a new subscription cycle under the newly subscribed plan.
              %p If you unsubscribe in the middle of your current subscription cycle, you will still be able to enjoy the full privileges of a subscribed user until the end of the billing cycle.

  %section#contacts
    .row
      .medium-3.small-12.columns.animated{data: {animate: "fadeInDown", animate_delay: '0'}}
        .title-section
          %h3
            %strong Contact Us
      .medium-9.columns.animated{data: {animate: "fadeInUp", animate_delay: '0'}}
        .section-desc
          %h4
            %strong Talk to us. We are all ears.
    .row
      #message
      = form_tag '/contact_us_email', remote: true, id: 'contactform' do
        .small-6.columns
          = text_field_tag "name", nil, placeholder: "Name"
        .small-6.columns
          = email_field_tag "contact_email", nil, placeholder: "Email"
        .small-12.columns
          = text_area_tag "comments", nil, placeholder: "Message"
        .small-12.columns.text-center
          %button#submit{:type => "submit"} SEND

- content_for :javascript do
  :javascript
    Tengence.HomePage.initContactUsForm();