- meta title: "Tengence - We Track Tenders"

%section#main-slider
  #slider
    .slider-cont.parallax-background.bg1
      .bg-overlay
      .slider-caption.slider-caption-center
        %h2{"data-caption-animate" => "fadeInUp"}
          -# %span= link_to "Sign Up", new_user_registration_path, class: 'color sign-up-link'
          -# or
          -# %span.color= link_to "Login", new_user_session_path
          %span We Track Tenders
        %p{"data-caption-animate" => "fadeInUp", "data-caption-delay" => "200"} To bring you business opportunities
    .slider-cont.parallax-background.bg2
      .bg-overlay
      .slider-caption.slider-caption-center
        %h2{"data-caption-animate" => "fadeInUp"}
          -# %span= link_to "Sign Up", new_user_registration_path, class: 'color sign-up-link'
          -# or
          -# %span.color= link_to "Login", new_user_session_path
          %span Get Email Alerts
        %p{"data-caption-animate" => "fadeInUp", "data-caption-delay" => "200"} Receive email alerts for potential business leads
    .slider-cont.parallax-background.bg3
      .bg-overlay
      .slider-caption.slider-caption-center
        %h2{"data-caption-animate" => "fadeInUp"}
          -# %span= link_to "Sign Up", new_user_registration_path, class: 'color sign-up-link'
          -# or
          -# %span.color= link_to "Login", new_user_session_path
          %span Exclusive Tenders
        %p{"data-caption-animate" => "fadeInUp", "data-caption-delay" => "200"} Tenders Tracked and Counting
    .slider-cont.parallax-background.bg4
      .bg-overlay
      .slider-caption.slider-caption-center
        %h2{"data-caption-animate" => "fadeInUp"}
          -# %span= link_to "Sign Up", new_user_registration_path, class: 'color sign-up-link'
          -# or
          -# %span.color= link_to "Login", new_user_session_path
          %span 62
        %p{"data-caption-animate" => "fadeInUp", "data-caption-delay" => "200"} Tenders Sources Tracked and Counting
    .slider-cont.parallax-background.bg5
      .bg-overlay
      .slider-caption.slider-caption-center
        %h2{"data-caption-animate" => "fadeInUp"}
          -# %span= link_to "Sign Up", new_user_registration_path, class: 'color sign-up-link'
          -# or
          -# %span.color= link_to "Login", new_user_session_path
          %span Stay Informed
        %p{"data-caption-animate" => "fadeInUp", "data-caption-delay" => "200"} Never missed any more tenders

%section#how-it-works
  .row
    .medium-3.small-12.columns.animated{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
      .title-section
        %h3
          %strong How It Works
    .medium-9.columns.animated{"data-animate" => "fadeInUp", "data-animate-delay" => "0"}
      .section-desc
        %h4
          %strong We track tenders and notify you whenever you have related tender opportunities. Find out more below.
  .row
    .medium-12.columns
      #services-container.cbp-l-grid-gallery
        %a.cbp-item.service{onClick: "Tengence.HomePage.scrollTo('sources-and-counting')"}
          .animated.ga-static-pages{data: {animate_delay: '0', animate: 'fadeInLeft', gtm_category: '', gtm_action: 'track', gtm_label: "how-it-works"}}
            %i.fa.fa-binoculars.icon
            %h3 Track
            %p We Track Opportunities from >60 Sources in Singapore
        %a.cbp-item.service{onClick: "Tengence.HomePage.scrollTo('contacts')"}
          .animated.ga-static-pages{data: {animate_delay: '0', animate: 'fadeInRight', gtm_category: '', gtm_action: 'alerts', gtm_label: "how-it-works"}}
            %i.fa.fa-envelope.icon
            %h3 Alerts
            %p We Will Send you a Daily Email Notification on Suitable Business Leads  from >60 Sources
        %a.cbp-item.service{onClick: "Tengence.HomePage.scrollTo('demo')"}
          .animated.ga-static-pages{data: {animate_delay: '0', animate: 'fadeInLeft', gtm_category: '', gtm_action: 'watch', gtm_label: "how-it-works"}}
            %i.fa.fa-eye.icon
            %h3 Watch
            %p Watchlist Feature to Allow You to Easily Add or Remove These Leads
        %a.cbp-item.service{onClick: "Tengence.HomePage.scrollTo('demo')"}
          .animated.ga-static-pages{data: {animate_delay: '0', animate: 'fadeInRight', gtm_category: '', gtm_action: 'never lose out', gtm_label: "how-it-works"}}
            %i.fa.fa-globe.icon
            %h3 Never Lose Out
            %p Be Updated and Never Miss Out Another Tender

%section#sources-and-counting.dark
  .row
    .medium-3.small-12.columns.animated{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
      .title-section
        %h3.sources-count
          %strong 62
    .medium-9.columns.animated{"data-animate" => "fadeInUp", "data-animate-delay" => "0"}
      .section-desc
        %h4.white
          %strong Number of sources tracked (and counting)
        %p.white We are working on adding new tender sources daily so as to bring you more business leads.
  .row
    .small-12.columns
      %h4.white List of Tender Sources
      %ul.white
        %li https://www.gebiz.gov.sg
        %li https://hcisingapore.gov.in/pages.php?id=6
        %li http://www.singaporepools.com.sg/en/tnq/Pages/quotations.aspx
        %li http://www.singaporepools.com.sg/en/tnq/Pages/tendernotice.aspx
        %li https://www.sats.com.sg/Tenders/Pages/Tenders.aspx
        %li https://sg.sesami.net/nhg/businessOpportunities.jsp
        %li https://sg.sesami.net/cag/businessOpportunities.jsp#
        %li https://sg.sesami.net/sp/businessOpportunities.jsp
        %li https://sg.sesami.net/ste/gtprfqlist.jsp?frmPg=Login.jsp&docType=Tender
        %li.remainder-tender-source https://sg.sesami.net/sia/gtprfqlist.jsp?frmPg=GlobalTradingPostLDAP.jsp
        %li.remainder-tender-source https://www.sac.gov.sg/announcements/tenders
        %li.remainder-tender-source http://www.turfclub.com.sg/Corporate/Pages/ITQ.aspx
        %li.remainder-tender-source http://www.turfclub.com.sg/Corporate/Pages/TenderNotices.aspx
        %li.remainder-tender-source http://www.sutd.edu.sg/procurement.aspx
        %li.remainder-tender-source http://www.mohh.com.sg/tenders.html
        %li.remainder-tender-source https://www.sota.edu.sg/procurement
        %li.remainder-tender-source http://www.singaporecancersociety.org.sg/SCSTenders.aspx
        %li.remainder-tender-source https://mybusiness.singtel.com/trading-board
        %li.remainder-tender-source http://www.ahtc.sg/tender-advertisements/
        %li.remainder-tender-source http://www.emservices.com.sg/em/tenders-advertisements.aspx
        %li.remainder-tender-source http://www.btptc.org.sg/Tender/Tender.htm
        %li.remainder-tender-source http://www.smrt.com.sg/Doing-Business-with-Us/Procurement/Tender-Notice
        %li.remainder-tender-source http://www.redcross.org.sg/articles/tender
        %li.remainder-tender-source http://www.mptc.org.sg/index.php/webtender/tender_advertisement/1
        %li.remainder-tender-source https://www.uwcsea.edu.sg/purchasing
        %li.remainder-tender-source http://www.tuaspower.com.sg/tender-notice/index.aspx
        %li.remainder-tender-source https://www.singaporepsa.com/port-users/tender-notices/14-port-services
        %li.remainder-tender-source https://srm.singaporepower.com.sg/irj/portal/anonymous
        %li.remainder-tender-source http://www.mediacorp.sg/corporate-en/tendernotices
        %li.remainder-tender-source http://www.nkfs.org/about-nkf/tender/invitation-to-tender/
        %li.remainder-tender-source http://www.nkfs.org/about-nkf/tender/invitation-to-quote/
        %li.remainder-tender-source https://www.sgnic.sg/tenderarchive
        %li.remainder-tender-source https://service.ariba.com/Discovery.aw/128481036/aw?awh=r&awssk=AFztUy.2&awrdt=1#b0
        %li.remainder-tender-source https://www.nhcs.com.sg/aboutnhc/tendersrfp/Pages/ITQ.aspx
        %li.remainder-tender-source https://www.nhcs.com.sg/ABOUTNHC/TENDERSRFP/Pages/Tender.aspx
        %li.remainder-tender-source http://www.sas.edu.sg/page.cfm?p=1228
        %li.remainder-tender-source http://isca.org.sg/procurement/
        %li.remainder-tender-source https://www.nationalgallery.sg/about/about-the-gallery/business-opportunities/current-tender-notices
        %li.remainder-tender-source https://www.singaporeartmuseum.sg/about/tender_quotes.html
        %li.remainder-tender-source http://www.sportsschool.edu.sg/GeneralPageDetails.aspx?id=100
        %li.remainder-tender-source https://www.theartshouse.sg/about-us/business-opportunities/
        %li.remainder-tender-source http://www.ntfgh.com.sg/JurongHealth/Procurement/Tenders.aspx
        %li.remainder-tender-source http://www.ntfgh.com.sg/JurongHealth/Procurement/ITQs.aspx
        %li.remainder-tender-source http://www.spd.org.sg/rfp
        %li.remainder-tender-source http://dramacentre.com/business-opportunities.html
        %li.remainder-tender-source http://info.singtel.com/about-us/tenders
        %li.remainder-tender-source http://gpo.nhg.singhealth.com.sg/tender/gpo/pub/Users/GRFP.asp?Inst_name=MM&Status=Guser
        %li.remainder-tender-source http://singapore.usembassy.gov/contracting_opportunities.html
        %li.remainder-tender-source https://www.ihis.com.sg/tenderandrfp/Pages/tenders-and-rfp.aspx
        %li.remainder-tender-source http://www.philippine-embassy.org.sg/invitation-to-bid-2/
        %li.remainder-tender-source http://home.ezlink.com.sg/rfp
        %li.remainder-tender-source http://iits.smu.edu.sg/tender
        %li.remainder-tender-source https://www.ggspl.com/tenders/
        %li.remainder-tender-source http://www.senokoenergy.com/tender-notices
        %li.remainder-tender-source http://www.psamarine.com/tenders.htm
        %li.remainder-tender-source http://www.singaporecruise.com.sg/index.php/business/tender-notices/
        %li.remainder-tender-source http://www.apec.org/Projects/Tenders-and-RFPs.aspx
        %li.remainder-tender-source http://www.renci.org.sg/noticestenders/
        %li.remainder-tender-source http://app.cias.com.sg/tender.asp
      .text-center
        #show-all.button.active.ga-static-pages{data: {gtm_category: '', gtm_action: 'show full list', gtm_label: "sources-and-counting"}} Show Full List
        #hide-all.button.ga-static-pages{data: {gtm_category: '', gtm_action: 'hide full list', gtm_label: "sources-and-counting"}} Hide Full List
  .row
    .small-12.columns
      %p.white.recommendation Have a tender source that is not on the list that you would like us to track? <a class='ga-static-pages' onClick="Tengence.HomePage.scrollTo('contacts')" data-gtm-category='' data-gtm-action='let us know' data-gtm-label='sources-and-counting'>Let us know</a>!

= react_component 'Demo', {url: api_v1_current_tenders_path}

%section#email.dark
  .row
    .small-12.column
      .subtitle.white
        %h2 
          Email Alerts
          %span.color .
        %p.white Get email alerts from us daily on the latest business opporutnities for your company
  .row{"data-equalizer" => ''}
    .medium-6.columns.animated.text-center{"data-animate" => "fadeInLeft", "data-animate-delay" => "0", 'data-equalizer-watch' => ''}
      %h5.white Sample email
      #sample-email-container
        .bg-overlay
          .ghost-block.ga-static-pages{data: {gtm_category: '', gtm_action: 'sample email image', gtm_label: "email"}}
            %i.fa.fa-search-plus.ga-static-pages{data: {gtm_category: '', gtm_action: 'sample email icon', gtm_label: "email"}}
        = image_tag "https://#{ENV['AWS_S3_HOST_NAME']}/#{ENV['AWS_S3_BUCKET']}/static_assets/home/sample_email.jpg", alt: '', id: 'sample-email'
    .medium-6.columns.animated.text-center{"data-animate" => "fadeInRight", "data-animate-delay" => "0", 'data-equalizer-watch' => ''}
      %h5.white Request a sample email from us
      .ghost-block
        = form_tag api_v1_demo_email_path, id:'demo-email-form', remote: true do
          %fieldset
            = email_field_tag 'demo_email'
            = check_box_tag 'agree', '1', false
            %span#agree-notice By requesting this demo email, you agree to sign up for Tengence's newsletter.
            %br
            %br
            .text-center
              .g-recaptcha{"data-sitekey" => "6LfSgRUTAAAAAC9gv7LrOBb9Fr50HCPqlqUSCz1_"}
            = button_tag 'Send Me a Demo Email', class: 'email-demo-submit-button button', type: 'submit', data: {disable_with: 'Processing'}  
          .button#email-demo-submitted-button{disabled: ''} Demo Email Sent Successfully

-# %section.parallax.testimonial{"data-stellar-background-ratio" => "0.5"}
-#   .bg-overlay
-#   .row
-#     .medium-8.columns.medium-centered.text-center
-#       #testimonial-slider
-#         .subtitle.white
-#           %h2.white 5 Stars
-#           %p Tengence really helped me save time and resources.
-#           %cite Isaac Asimov
-#         .subtitle.white
-#           %h2.white Very Worth It
-#           %p My business has grown ever since we joined Tengence.
-#           %cite H.P. Lovecraft
-#         .subtitle.white
-#           %h2.white Smoke something out here
-#           %p Responsive functionality that can be adapted to any screen size.
-#           %cite Norman Bates

%section#contacts
  .row
    .medium-3.small-12.columns.animated{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
      .title-section
        %h3
          %strong Contact Us
    .medium-9.columns.animated{"data-animate" => "fadeInUp", "data-animate-delay" => "0"}
      .section-desc
        %h4
          %strong Talk to us. We are all ears.
  .row
    #message
    = form_tag '/contact_us_email', remote: true, id: 'contactform' do
      .small-6.columns
        = text_field_tag "name", nil, placeholder: "Name"
      .small-6.columns
        = email_field_tag "email", nil, placeholder: "Email"
      .small-12.columns
        = text_area_tag "comments", nil, placeholder: "Message"
      .small-12.columns.text-center
        %button#submit{:type => "submit"} SEND

#view-more-modal.reveal-modal{:'data-reveal' => '', :'aria-hidden' => "true", role: "dialog"}
#sample-email-modal.reveal-modal{:'data-reveal' => '', :'aria-hidden' => "true", role: "dialog"}
  %a.close-reveal-modal{:'aria-label' => "Close"} &#215;
  = image_tag "https://#{ENV['AWS_S3_HOST_NAME']}/#{ENV['AWS_S3_BUCKET']}/static_assets/home/sample_email.jpg", alt: ''
#register-modal.reveal-modal{:'data-reveal' => '', :'aria-hidden' => "true", role: "dialog"}
  = render partial: 'pages/register'

- content_for :javascript do
  :javascript
    Tengence.HomePage.initHeader();
    $('#sample-email-container').click(function(){
      $('#sample-email-modal').foundation('reveal', 'open');
    });
    $('#hide-all').click(function(){
      $(this).toggleClass('active');
      $('#show-all').toggleClass('active');
      $('.remainder-tender-source').slideUp();
    });
    $('#show-all').click(function(){
      $(this).toggleClass('active');
      $('#hide-all').toggleClass('active');
      $('.remainder-tender-source').slideDown();
    });
    $('#demo-email-form').validate({
      rules: {
        'demo_email': {
          required: true,
          email: true
        },
        'agree': {
          required: true
        }
      },
      messages: {
        'demo_email': {
          required: 'Please enter your email',
          email: 'Please enter a valid email'
        },
        'agree': {
          required: "Please acknowledge this checkbox"
        }
      }
    })
-# #wrapper
-#   %section#about
-#     .row
-#       .medium-3.small-12.columns.animated{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
-#         .title-section
-#           %h3
-#             %strong Company
-#       .medium-9.columns.animated{"data-animate" => "fadeInUp", "data-animate-delay" => "0"}
-#         .section-desc
-#           %h4
-#             %strong As one of the core design principles, typography can really make or break a website design
-#           %p Despite recent advances in web type technology we’re still fairly limited when it comes to creative typography layouts, meaning image replacement techniques are still common, but these days we have massive choice when it comes to selecting fonts for our designs.
-#     .row
-#       .medium-6.columns.animated{"data-animate" => "fadeInLeft", "data-animate-delay" => "0"}
-#         %img{:alt => "", :src => "/tyger/img/placeholder.jpg"}
-#       .medium-6.columns.animated{"data-animate" => "fadeInRight", "data-animate-delay" => "0"}
-#         %ul.accordion{"data-accordion" => "myAccordionGroup"}
-#           %li.accordion-navigation
-#             %a{:href => "#panel1c"} Easy customization
-#             #panel1c.content
-#               %p
-#                 Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus. Nullam quis ante.
-#                 Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus. Nullam quis ante.
-#           %li.accordion-navigation
-#             %a{:href => "#panel2c"} Widgets
-#             #panel2c.content
-#               %p Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus. Nullam quis ante.
-#           %li.accordion-navigation
-#             %a{:href => "#panel3c"} Light and powerful
-#             #panel3c.content
-#               %p Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus. Nullam quis ante.
-#           %li.accordion-navigation
-#             %a{:href => "#panel4c"} Behind a solid framework
-#             #panel4c.content
-#               %p Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero ace venenatis faucibus. Nullam quis ante.
-#   %section.dark
-#     .row
-#       .subtitle.white
-#         %h2.white
-#           Our Methodologies
-#           %span.color .
-#         %p.white Aliquam at feugiat est. Mauris laoreet sapien non liberon bibendum, sit amet volutpat a laoreet.
-#     .row.tabs-container
-#       .medium-6.medium-centered.columns
-#         %ul.medium-block-grid-3.small-block-grid-3.tabs.service-tab{"data-tab" => ""}
-#           %li.active
-#             %a{:href => "#panel1"}
-#               %i.icon.tyger-arrow-streamline-target
-#               %h5 Mission
-#           %li
-#             %a{:href => "#panel2"}
-#               %i.icon.tyger-monocle-mustache-streamline
-#               %h5 Vision
-#           %li
-#             %a{:href => "#panel3"}
-#               %i.icon.tyger-map-streamline-user
-#               %h5 Value
-#       .medium-12.medium-centered.columns
-#         .tabs-content
-#           #panel1.content.active
-#             .medium-4.small-12.left.main-service.text-right
-#               %h3 Responsive
-#               %p Lorem ipsum dolor sit amet, consectetur adiping elit consectetur adiping.
-#               %br/
-#               %h3 Retina ready
-#               %p Lorem ipsum dolor sit amet, consectetur adiping elit consectetur adiping.
-#             .medium-4.small-12.left
-#               %img{:alt => "", :src => "/tyger/img/placeholder2.jpg"}
-#             .medium-4.small-12.left.main-service.text-left
-#               %h3 Modern
-#               %p Lorem ipsum dolor sit amet, consectetur adiping elit consectetur adiping.
-#               %br/
-#               %h3 Customizable
-#               %p Lorem ipsum dolor sit amet, consectetur adiping elit consectetur adiping.
-#           #panel2.content
-#             .medium-8.medium-centered.columns.main-service
-#               %h3 We create identity
-#               %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod nec ipsum id vehicula. Aenean a pulvinar sem. Phasellus commodo neque nec volutpat elementum. Aenean nisl orci, condim entum ultrices consequat eu, vehicula ac mauris.Asunt in anim uis aute irure dolor in reprehenderit
-#           #panel3.content
-#             .medium-8.medium-centered.columns
-#               .medium-4.columns.main-service
-#                 %img{:alt => "", :src => "/tyger/img/html5.png"}
-#                 %p Lorem ipsum dolor sit amet, consectetur adiping elit.
-#               .medium-4.columns.main-service
-#                 %img{:alt => "", :src => "/tyger/img/css3.png"}
-#                 %p Lorem ipsum dolor sit amet, consectetur adiping elit.
-#               .medium-4.columns.main-service
-#                 %img{:alt => "", :src => "/tyger/img/jquery.png"}
-#                 %p
-#                   Lorem ipsum
-#                   dolor sit amet, consectetur adiping elit.
-#   %section#services
-#     .row
-#       .medium-3.small-12.columns.animated{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
-#         .title-section
-#           %h3 Services
-#           %i.icon.tyger-crown-king-streamline
-#       .medium-9.columns.animated{"data-animate" => "fadeInUp", "data-animate-delay" => "0"}
-#         .section-desc
-#           %h4
-#             %strong Strategy, Experience Design & Technology.
-#           %p Despite recent advances in web type technology we’re still fairly limited when it comes to creative typography layouts, meaning image replacement techniques are still common, but these days we have massive choice when it comes to selecting fonts for our designs.
-#     .row
-#       .medium-12.columns
-#         #services-container.cbp-l-grid-gallery
-#           .cbp-item.service
-#             %i.icon.tyger-design-pencil-rule-streamline
-#             %h5 Web Design
-#             %p The markup for our grid system is very simple and will pretty much work whatever way you want to build it.
-#             %a.link-btn.cbp-singlePageInline{"data-hover" => "Read More", :href => "services/service1.html"}
-#               %span Read More
-#           .cbp-item.service
-#             %i.icon.tyger-chef-food-restaurant-streamline
-#             %h5 Branding & Identity
-#             %p The markup for our grid system is very simple and will pretty much work whatever way you want to build it.
-#             %a.link-btn.cbp-singlePageInline{"data-hover" => "Read More", :href => "services/service2.html"}
-#               %span Read More
-#           .cbp-item.service
-#             %i.icon.tyger-camera-streamline-video
-#             %h5 Camera Streaming
-#             %p The markup for our grid system is very simple and will pretty much work whatever way you want to build it.
-#             %a.link-btn.cbp-singlePageInline{"data-hover" => "Read More", :href => "services/service3.html"}
-#               %span Read More
-#   %section.dark
-#     .row
-#       .medium-3.columns.counter-box
-#         .counter.animated{"data-perc" => "456"}
-#           .icon-counter
-#             %i.icon.tyger-crown-king-streamline
-#           .number-detail
-#             .number
-#             %h3 Awards
-#       .medium-3.columns.counter-box
-#         .counter{"data-perc" => "600"}
-#           .icon-counter
-#             %i.icon.tyger-eat-food-hotdog-streamline
-#           .number-detail
-#             .number
-#             %h3 Hot Dogs
-#       .medium-3.columns.counter-box
-#         .counter.animated{"data-perc" => "456"}
-#           .icon-counter
-#             %i.icon.tyger-happy-smiley-streamline
-#           .number-detail
-#             .number
-#             %h3 Happy Clients
-#       .medium-3.columns.counter-box
-#         .counter{"data-perc" => "600"}
-#           .icon-counter
-#             %i.icon.tyger-streamline-suitcase-travel
-#           .number-detail
-#             .number
-#             %h3 Projects Finished
-#   %section.dark
-#     .subtitle.white
-#       %h2.white
-#         Start growing your online business
-#         %span.color .
-#       %p.white Our Prices
-#     #pricing-tables
-#       .row
-#         .medium-4.columns.animated{"data-animate" => "flipInY", "data-animate-delay" => "10"}
-#           %ul.pricing-table
-#             %li.title Standard
-#             %li.price $99.99
-#             %li.description An awesome description
-#             %li.bullet-item 1 Database
-#             %li.bullet-item 5GB Storage
-#             %li.bullet-item 20 Users
-#             %li.cta-button
-#               %a.button{:href => "#"} Buy Now
-#         .medium-4.columns.animated{"data-animate" => "flipInY", "data-animate-delay" => "10"}
-#           %ul.pricing-table
-#             %li.title Medium
-#             %li.price $139.99
-#             %li.description An awesome description
-#             %li.bullet-item 1 Database
-#             %li.bullet-item 5GB Storage
-#             %li.bullet-item 20 Users
-#             %li.cta-button
-#               %a.button{:href => "#"} Buy Now
-#         .medium-4.columns.animated{"data-animate" => "flipInY", "data-animate-delay" => "10"}
-#           %ul.pricing-table
-#             %li.title Large
-#             %li.price $199.99
-#             %li.description An awesome description
-#             %li.bullet-item 1 Database
-#             %li.bullet-item 5GB Storage
-#             %li.bullet-item 20 Users
-#             %li.cta-button
-#               %a.button{:href => "#"} Buy Now
-#         .medium-12.columns.text-center
-#           %p.white Despite recent advances in web type technology we’re still fairly limited when it comes to creative typography layouts, meaning image replacement techniques are still common, but these days we have massive choice when it comes to selecting fonts for our designs.
-#   %section#team
-#     .row
-#       .medium-3.small-12.columns.animated{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
-#         .title-section
-#           %h3
-#             %strong Our Team
-#       .medium-9.columns.animated{"data-animate" => "fadeInUp", "data-animate-delay" => "0"}
-#         .section-desc
-#           %h4 We create inspired experiences.
-#           %p Despite recent advances in web type technology we’re still fairly limited when it comes to creative typography layouts, meaning image replacement techniques are still common, but these days we have massive choice when it comes to selecting fonts for our designs.
-#     .row
-#       .medium-12.columns
-#         #team-slider.cbp-l-grid-slider-team.cbp-slider-edge
-#           .cbp-item
-#             .cbp-caption
-#               .cbp-caption-defaultWrap
-#                 %img{:alt => "", :src => "/tyger/img/team/placeholder.jpg"}
-#             .cbp-l-grid-slider-team-wrap
-#               .cbp-l-grid-slider-team-name
-#                 %h4 Erica Doe
-#               .cbp-l-grid-slider-team-social
-#                 %a{:href => "", :title => ""}
-#                   %i.icon.tyger-facebook
-#                 %a{:href => "", :title => ""}
-#                   %i.icon.tyger-twitter
-#                 %a{:href => "", :title => ""}
-#                   %i.icon.tyger-google-plus
-#             .cbp-l-grid-slider-team-position CEO, Director General
-#             .cbp-l-grid-slider-team-desc
-#               %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla nemo ad quibusdam consequuntur sapiente officia natus reprehenderit, doloribus in dolores!
-#           .cbp-item
-#             .cbp-caption
-#               .cbp-caption-defaultWrap
-#                 %img{:alt => "", :src => "/tyger/img/team/placeholder.jpg"}
-#             .cbp-l-grid-slider-team-wrap
-#               .cbp-l-grid-slider-team-name
-#                 %h4 Roxanne White
-#               .cbp-l-grid-slider-team-social
-#                 %a{:href => "", :title => ""}
-#                   %i.icon.tyger-facebook
-#                 %a{:href => "", :title => ""}
-#                   %i.icon.tyger-twitter
-#                 %a{:href => "", :title => ""}
-#                   %i.icon.tyger-google-plus
-#             .cbp-l-grid-slider-team-position Manager
-#             .cbp-l-grid-slider-team-desc
-#               %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla nemo ad quibusdam consequuntur sapiente officia natus reprehenderit, doloribus in dolores!
-#           .cbp-item
-#             .cbp-caption
-#               .cbp-caption-defaultWrap
-#                 %img{:alt => "", :src => "/tyger/img/team/placeholder.jpg"}
-#             .cbp-l-grid-slider-team-wrap
-#               .cbp-l-grid-slider-team-name
-#                 %h4 Paul Stark
-#               .cbp-l-grid-slider-team-social
-#                 %a{:href => "", :title => ""}
-#                   %i.icon.tyger-facebook
-#                 %a{:href => "", :title => ""}
-#                   %i.icon.tyger-twitter
-#                 %a{:href => "", :title => ""}
-#                   %i.icon.tyger-google-plus
-#             .cbp-l-grid-slider-team-position Developer
-#             .cbp-l-grid-slider-team-desc
-#               %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla nemo ad quibusdam consequuntur sapiente officia natus reprehenderit, doloribus in dolores!
-#           .cbp-item
-#             .cbp-caption
-#               .cbp-caption-defaultWrap
-#                 %img{:alt => "", :src => "/tyger/img/team/placeholder.jpg"}
-#             .cbp-l-grid-slider-team-wrap
-#               .cbp-l-grid-slider-team-name
-#                 %h4 Roberta Smith
-#               .cbp-l-grid-slider-team-social
-#                 %a{:href => "", :title => ""}
-#                   %i.icon.tyger-facebook
-#                 %a{:href => "", :title => ""}
-#                   %i.icon.tyger-twitter
-#                 %a{:href => "", :title => ""}
-#                   %i.icon.tyger-google-plus
-#             .cbp-l-grid-slider-team-position Designer
-#             .cbp-l-grid-slider-team-desc
-#               %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla nemo ad quibusdam consequuntur sapiente officia natus reprehenderit, doloribus in dolores!
-#           .cbp-item
-#             .cbp-caption
-#               .cbp-caption-defaultWrap
-#                 %img{:alt => "", :src => "/tyger/img/team/placeholder.jpg"}
-#             .cbp-l-grid-slider-team-wrap
-#               .cbp-l-grid-slider-team-name
-#                 %h4 Claudia Everell
-#               .cbp-l-grid-slider-team-social
-#                 %a{:href => "", :title => ""}
-#                   %i.icon.tyger-facebook
-#                 %a{:href => "", :title => ""}
-#                   %i.icon.tyger-twitter
-#                 %a{:href => "", :title => ""}
-#                   %i.icon.tyger-google-plus
-#             .cbp-l-grid-slider-team-position Designer
-#             .cbp-l-grid-slider-team-desc
-#               %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla nemo ad quibusdam consequuntur sapiente officia natus reprehenderit, doloribus in dolores!
-#           .cbp-item
-#             .cbp-caption
-#               .cbp-caption-defaultWrap
-#                 %img{:alt => "", :src => "/tyger/img/team/placeholder.jpg"}
-#             .cbp-l-grid-slider-team-wrap
-#               .cbp-l-grid-slider-team-name
-#                 %h4 Chris Matthew
-#               .cbp-l-grid-slider-team-social
-#                 %a{:href => "", :title => ""}
-#                   %i.icon.tyger-facebook
-#                 %a{:href => "", :title => ""}
-#                   %i.icon.tyger-twitter
-#                 %a{:href => "", :title => ""}
-#                   %i.icon.tyger-google-plus
-#             .cbp-l-grid-slider-team-position Developer
-#             .cbp-l-grid-slider-team-desc
-#               %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla nemo ad quibusdam consequuntur sapiente officia natus reprehenderit, doloribus in dolores!
-#   %section.dark
-#     .subtitle.white
-#       %h2.white
-#         Recent post from our blog
-#         %span.color .
-#       %p.white Aliquam at feugiat est. Mauris laoreet sapien non liberon bibendum, sit amet volutpat a laoreet.
-#     .row
-#       .medium-12.columns
-#         .medium-4.columns.blog-item-preview
-#           %img{:alt => "", :src => "/tyger/img/blog/placeholder.jpg"}
-#           %h5.white Insert here your post title
-#           %a.link-btn{"data-hover" => "Read More", :href => "blog_detail.html"}
-#             %span Read More
-#         .medium-4.columns.blog-item-preview
-#           %img{:alt => "", :src => "/tyger/img/blog/placeholder.jpg"}
-#           %h5.white Insert here your post title
-#           %a.link-btn{"data-hover" => "Read More", :href => "blog_detail.html"}
-#             %span Read More
-#         .medium-4.columns.blog-item-preview
-#           %img{:alt => "", :src => "/tyger/img/blog/placeholder.jpg"}
-#           %h5.white Insert here your post title
-#           %a.link-btn{"data-hover" => "Read More", :href => "blog_detail.html"}
-#             %span Read More

-#   %section#works
-#     .row
-#       .medium-3.small-12.columns.animated{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
-#         .title-section
-#           %h3 Portfolio
-#       .medium-9.columns.animated{"data-animate" => "fadeInUp", "data-animate-delay" => "0"}
-#         .section-desc
-#           %h4 Our passion for what we do transfers into our works
-#           %p Despite recent advances in web type technology we’re still fairly limited when it comes to creative typography layouts, meaning image replacement techniques are still common.
-#       .medium-6.columns.medium-centered
-#         #filters-container.cbp-l-filters-alignCenter
-#           .cbp-filter-item-active.cbp-filter-item{"data-filter" => "*"}
-#             ALL WORKS
-#             .cbp-filter-counter
-#           .cbp-filter-item{"data-filter" => ".web"}
-#             WEB DESIGN
-#             .cbp-filter-counter
-#           .cbp-filter-item{"data-filter" => ".logo"}
-#             LOGO
-#             .cbp-filter-counter
-#           .cbp-filter-item{"data-filter" => ".other"}
-#             OTHER
-#             .cbp-filter-counter
-#     #grid-container.cbp-l-grid-fullWidth
-#       .cbp-item.logo
-#         .cbp-caption
-#           .cbp-caption-defaultWrap
-#             %img{:alt => "", :src => "/tyger/img/works/placeholder.jpg"}
-#           .cbp-caption-activeWrap
-#             .th-detail
-#               .cbp-l-caption-alignCenter
-#                 .cbp-l-caption-body
-#                   .cbp-l-grid-projects-title Title Project
-#                   %a.cbp-singlePage.cbp-l-caption-buttonLeft{:href => "projects/project1.html"} more info
-#                   %a.cbp-lightbox.cbp-l-caption-buttonRight{"data-title" => "Title Project<br>You can add more detail", :href => "/tyger/img/works/placeholder_big.jpg"} view larger
-#       .cbp-item.web
-#         .cbp-caption
-#           .cbp-caption-defaultWrap
-#             %img{:alt => "", :src => "/tyger/img/works/placeholder.jpg"}
-#           .cbp-caption-activeWrap
-#             .th-detail
-#               .cbp-l-caption-alignCenter
-#                 .cbp-l-caption-body
-#                   .cbp-l-grid-projects-title Title Project
-#                   %a.cbp-singlePage.cbp-l-caption-buttonLeft{:href => "projects/project2.html"} more info
-#                   %a.cbp-lightbox.cbp-l-caption-buttonRight{"data-title" => "Title Project<br>You can add more detail", :href => "/tyger/img/works/placeholder_big.jpg"} view larger
-#       .cbp-item.logo
-#         .cbp-caption
-#           .cbp-caption-defaultWrap
-#             %img{:alt => "", :src => "/tyger/img/works/placeholder.jpg"}
-#           .cbp-caption-activeWrap
-#             .th-detail
-#               .cbp-l-caption-alignCenter
-#                 .cbp-l-caption-body
-#                   .cbp-l-grid-projects-title Title Project
-#                   %a.cbp-singlePage.cbp-l-caption-buttonLeft{:href => "projects/project3.html"} more info
-#                   %a.cbp-lightbox.cbp-l-caption-buttonRight{"data-title" => "Title Project<br>You can add more detail", :href => "/tyger/img/works/placeholder_big.jpg"} view larger
-#       .cbp-item.other
-#         .cbp-caption
-#           .cbp-caption-defaultWrap
-#             %img{:alt => "", :src => "/tyger/img/works/placeholder.jpg"}
-#           .cbp-caption-activeWrap
-#             .th-detail
-#               .cbp-l-caption-alignCenter
-#                 .cbp-l-caption-body
-#                   .cbp-l-grid-projects-title Title Project
-#                   %a.cbp-singlePage.cbp-l-caption-buttonLeft{:href => "projects/project4.html"} more info
-#                   %a.cbp-lightbox.cbp-l-caption-buttonRight{"data-title" => "Title Project<br>You can add more detail", :href => "/tyger/img/works/placeholder_big.jpg"} view larger
-#       .cbp-item.web.logo
-#         .cbp-caption
-#           .cbp-caption-defaultWrap
-#             %img{:alt => "", :src => "/tyger/img/works/placeholder.jpg"}
-#           .cbp-caption-activeWrap
-#             .th-detail
-#               .cbp-l-caption-alignCenter
-#                 .cbp-l-caption-body
-#                   .cbp-l-grid-projects-title Title Project
-#                   %a.cbp-singlePage.cbp-l-caption-buttonLeft{:href => "projects/project5.html"} more info
-#                   %a.cbp-lightbox.cbp-l-caption-buttonRight{"data-title" => "Title Project<br>You can add more detail", :href => "/tyger/img/works/placeholder_big.jpg"} view larger
-#       .cbp-item.web.other
-#         .cbp-caption
-#           .cbp-caption-defaultWrap
-#             %img{:alt => "", :src => "/tyger/img/works/placeholder.jpg"}
-#           .cbp-caption-activeWrap
-#             .th-detail
-#               .cbp-l-caption-alignCenter
-#                 .cbp-l-caption-body
-#                   .cbp-l-grid-projects-title Title Project
-#                   %a.cbp-singlePage.cbp-l-caption-buttonLeft{:href => "projects/project1.html"} more info
-#                   %a.cbp-lightbox.cbp-l-caption-buttonRight{"data-title" => "Title Project<br>You can add more detail", :href => "/tyger/img/works/placeholder_big.jpg"} view larger
-#       .cbp-item.other.logo
-#         .cbp-caption
-#           .cbp-caption-defaultWrap
-#             %img{:alt => "", :src => "/tyger/img/works/placeholder.jpg"}
-#           .cbp-caption-activeWrap
-#             .th-detail
-#               .cbp-l-caption-alignCenter
-#                 .cbp-l-caption-body
-#                   .cbp-l-grid-projects-title Title Project
-#                   %a.cbp-singlePage.cbp-l-caption-buttonLeft{:href => "projects/project2.html"} more info
-#                   %a.cbp-lightbox.cbp-l-caption-buttonRight{"data-title" => "Title Project<br>You can add more detail", :href => "/tyger/img/works/placeholder_big.jpg"} view larger
-#       .cbp-item.other.web
-#         .cbp-caption
-#           .cbp-caption-defaultWrap
-#             %img{:alt => "", :src => "/tyger/img/works/placeholder.jpg"}
-#           .cbp-caption-activeWrap
-#             .th-detail
-#               .cbp-l-caption-alignCenter
-#                 .cbp-l-caption-body
-#                   .cbp-l-grid-projects-title Title Project
-#                   %a.cbp-singlePage.cbp-l-caption-buttonLeft{:href => "projects/project3.html"} more info
-#                   %a.cbp-lightbox.cbp-l-caption-buttonRight{"data-title" => "Title Project<br>You can add more detail", :href => "/tyger/img/works/placeholder_big.jpg"} view larger
-#   %section.dark
-#     .row
-#       .medium-10.columns.medium-centered
-#         #clients-slider
-#           %img{:alt => "", :src => "/tyger/img/clients/placeholder.jpg"}
-#           %img{:alt => "", :src => "/tyger/img/clients/placeholder.jpg"}
-#           %img{:alt => "", :src => "/tyger/img/clients/placeholder.jpg"}
-#           %img{:alt => "", :src => "/tyger/img/clients/placeholder.jpg"}
-#           %img{:alt => "", :src => "/tyger/img/clients/placeholder.jpg"}
-#           %img{:alt => "", :src => "/tyger/img/clients/placeholder.jpg"}
-#   %section#map.dark
-#     #google-map
-#       .subtitle.white
-#         %h2
-#           Localize Us
-#           %span.color .
-#         %p Aliquam at feugiat est. Mauris laoreet sapien non liberon bibendum, sit amet volutpat a laoreet.
-#       %i.icon.icon-map-1
-#       #map_canvas
-#   %footer
-#     .row
-#       .medium-12.text-center.columns
-#         %h1.logo
-#           %a{:href => "index.html", :title => ""} Tyger
-#         .medium-4.columns.medium-centered
-#           %ul.medium-block-grid-5.small-block-grid-5.social-links
-#             %li
-#               %a{:href => "#", :title => ""}
-#                 %i.icon.tyger-skype
-#             %li
-#               %a{:href => "#", :title => ""}
-#                 %i.icon.tyger-twitter
-#             %li
-#               %a{:href => "#", :title => ""}
-#                 %i.icon.tyger-facebook
-#             %li
-#               %a{:href => "#", :title => ""}
-#                 %i.icon.tyger-google-plus
-#             %li
-#               %a{:href => "#", :title => ""}
-#                 %i.icon.tyger-pinterest
-#         %p.white 2014 © Mordorthemes. All rights reserved.