%header
  .row
    .medium-3.small-6.columns.text-align-left
      %h1.logo
        - if current_user
          - if current_user.read_only?
            = link_to 'Tengence', current_tenders_path, title: ''
          - elsif current_user.write_only?
            = link_to 'Tengence', current_posted_tenders_path, title: ''
        - else
          = link_to 'Tengence', root_path, title: ''
    .small-6.columns.show-for-small-only.text-right
      .menu-toggle-button{"data-menu-id" => "navigation"}
        %i.icon.tyger-navicon
    .medium-9.small-12.columns.text-right
      %ul#navigation.menu-list
        - if current_user
          - if current_user.read_only?
            %li
              = link_to "Current Tenders", current_tenders_path
            %li
              = link_to "Past Tenders", past_tenders_path
            %li
              = link_to "My Watchlist", watched_tenders_path
            %li
              = link_to "Your Keywords", keywords_tenders_path
            %li
              = link_to "Account", edit_user_registration_path
            %li
              = link_to "Logout", destroy_user_session_path, method: :delete
            -# %li
            -#   %a{"data-scroll" => "", :href => "#works"} Portfolio
            -# %li
            -#   %a{"data-scroll" => "", :href => "#contacts"} Contacts
          - elsif current_user.write_only?
            %li
              = link_to "Post Tender", new_tender_path
            %li
              = link_to "Your Tenders", current_posted_tenders_path
            %li
              = link_to "Past Tenders", past_posted_tenders_path
            %li
              = link_to "Account", edit_user_registration_path
            %li
              = link_to "Logout", destroy_user_session_path, method: :delete
        - else
          %li
            = link_to "Login", new_user_session_path
          %li
            = link_to "Terms of Services", terms_of_service_path
          %li
            %a{"data-scroll" => "", :href => "#how-it-works"} How It Works
          %li
            %a{"data-scroll" => "", :href => "#contacts"} Contacts

- flash.each do |name, msg|
  .row.flash-row
    .medium-12.column
      - if msg.is_a?(String)
        %div{:'data-alert' => '', class: "alert-box round #{name.to_s}"}
          = content_tag :div, msg.html_safe
          %a.close{href: "#", class: "close"} &times;
.mask
  #loader.rotating

- content_for :javascript do
  :javascript
    $(function(){
      $('#sign-out').click(function(){
        $.ajax({
          url: "#{destroy_user_session_path}",
          method: 'DELETE'
        });
      });
      $('#account-settings').click(function(){
        window.location.href = "#{edit_user_registration_path}";
      });
      $('#my-keywords').click(function(){
        window.location.href = "#{keywords_user_path}";
      });
      $('#sign-up').click(function(){
        window.location.href = "#{new_user_registration_path}";
      });
      $('#tos').click(function(){
        window.location.href = "#{terms_of_service_path}";
      });
      $('#login').click(function(){
        window.location.href = "#{new_user_session_path}";
      });
    });