/ start header
%header
  .row
    .medium-6.small-6.columns.text-align-left
      / start logo
      %h1.logo
        %a{:href => "index.html", :title => ""} Tyger
      / end logo
    .medium-6.small-6.columns.text-right
      / start open/close menu
      %a#trigger-overlay{:href => "#", :title => ""}
        %i.icon.tyger-navicon
      / end open/close menu
- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{:'data-alert' => '', class: "alert-box round #{name.to_s == 'notice' ? 'success' : 'alert'}"}
      = content_tag :div, msg
      %a.close{href: "#", class: "close"} &times;
/ end header
/ start navigation
.overlay-menu.overlay-hugeinc
  %a.overlay-close{:href => "#", :title => ""}
    %i.icon.tyger-close-empty
  %nav
    %ul
      %li
        %a.inner-link{:href => "#about"}
          %span About
      %li
        %a.inner-link{:href => "#services"}
          %span Services
      %li
        %a.inner-link{:href => "#team"}
          %span Team
      %li
        %a.inner-link{:href => "blog.html"}
          %span Blog
      %li
        %a.inner-link{:href => "#works"}
          %span Portfolio
      %li
        %a.inner-link{:href => "#contacts"}
          %span Contacts
      - if current_user
        %li
          = link_to "#", class: 'inner-link', id: 'account-settings' do
            %span Account
      - if current_user
        %li
          = link_to "#", class: 'inner-link', id: 'sign-out' do
            %span Sign Out
/ end navigation
/ start styleswitcher, remove this
.switcher
/ end styleswitcher
/ Preloader
.mask
  #loader.rotating
/ /Preloader

- content_for :javascript do
  :javascript
    $(function(){
      $('#sign-out').click(function(){
        $.ajax({
          url: "#{destroy_user_session_path}",
          method: 'DELETE'
        });
      });
      $('#account-settings').click(function(){
        window.location.href = "#{edit_user_registration_path}";
      });
    });