%header
  .row
    .medium-3.small-6.columns.text-align-left
      %h1.logo
        - if current_user
          %a{:href => "/current_tenders", :title => ""} Tengence
        - else
          %a{:href => "/", :title => ""} Tengence
    .medium-9.small-6.columns.text-center
      - if current_user
        .shortcut
          = link_to "Current Tenders", current_tenders_path
          |
          = link_to "Past Tenders", past_tenders_path
          |
          = link_to "My Watchlist", watched_tenders_path
          |
          = link_to "Keywords Tenders", keywords_tenders_path
          %a#trigger-overlay{:href => "#", :title => ""}
            %i.icon.tyger-navicon
      - else
        %a#trigger-overlay{:href => "#", :title => ""}
          %i.icon.tyger-navicon
- flash.each do |name, msg|
  .row.flash-row
    .medium-12.column
      - if msg.is_a?(String)
        %div{:'data-alert' => '', class: "alert-box round #{name.to_s}"}
          = content_tag :div, msg
          %a.close{href: "#", class: "close"} &times;
.overlay-menu.overlay-hugeinc
  %a.overlay-close{:href => "#", :title => ""}
    %i.icon.tyger-close-empty
  %nav
    %ul
      - if current_user
        %li
          %a.inner-link#my-keywords{:href => "#"}
            %span My Keywords
        %li
          = link_to "#", class: 'inner-link', id: 'account-settings' do
            %span Account
        %li
          = link_to "#", class: 'inner-link', id: 'sign-out' do
            %span Sign Out
        %li
          = link_to "#", class: 'inner-link', id: 'tos' do
            %span Terms of Service
      - else
        %li
          = link_to "#", class: 'inner-link', id: 'sign-up' do
            %span Sign Up
        %li
          = link_to "#", class: 'inner-link', id: 'login' do
            %span Login
        %li
          = link_to "#", class: 'inner-link', id: 'tos' do
            %span Terms of Service
      -# %li
      -#   %a.inner-link{:href => "#team"}
      -#     %span Team
      -# %li
      -#   %a.inner-link{:href => "blog.html"}
      -#     %span Blog
      -# %li
      -#   %a.inner-link{:href => "#works"}
      -#     %span Portfolio
      -# %li
      -#   %a.inner-link{:href => "#contacts"}
      -#     %span Contacts
/ end navigation
/ start styleswitcher, remove this
.switcher
/ end styleswitcher
/ Preloader
.mask
  #loader.rotating
/ /Preloader

- content_for :javascript do
  :javascript
    $(function(){
      $('#sign-out').click(function(){
        $.ajax({
          url: "#{destroy_user_session_path}",
          method: 'DELETE'
        });
      });
      $('#account-settings').click(function(){
        window.location.href = "#{edit_user_registration_path}";
      });
      $('#my-keywords').click(function(){
        window.location.href = "#{keywords_user_path}";
      });
      $('#sign-up').click(function(){
        window.location.href = "#{new_user_registration_path}";
      });
      $('#tos').click(function(){
        window.location.href = "/terms-of-service";
      });
      $('#login').click(function(){
        window.location.href = "#{new_user_session_path}";
      });
    });