/ start header
%header
  .row
    .medium-6.small-6.columns.text-align-left
      / start logo
      %h1.logo
        - if current_user
          %a{:href => "/current_tenders", :title => ""} Tengence
        - else
          %a{:href => "/", :title => ""} Tengence
      / end logo
    .medium-6.small-6.columns.text-right
      / start open/close menu
      %a#trigger-overlay{:href => "#", :title => ""}
        %i.icon.tyger-navicon
      / end open/close menu
- flash.each do |name, msg|
  .row.flash-row
    .medium-12.column
      - if msg.is_a?(String)
        %div{:'data-alert' => '', class: "alert-box round #{name.to_s}"}
          = content_tag :div, msg
          %a.close{href: "#", class: "close"} &times;
/ end header
/ start navigation
.overlay-menu.overlay-hugeinc
  %a.overlay-close{:href => "#", :title => ""}
    %i.icon.tyger-close-empty
  %nav
    %ul
      %li
        %a.inner-link#current-tenders{:href => "#"}
          %span Current Tenders
      %li
        %a.inner-link#past-tenders{:href => "#"}
          %span Past Tenders
      %li
        %a.inner-link{:href => "#team"}
          %span Team
      %li
        %a.inner-link{:href => "blog.html"}
          %span Blog
      %li
        %a.inner-link{:href => "#works"}
          %span Portfolio
      %li
        %a.inner-link{:href => "#contacts"}
          %span Contacts
      - if current_user
        %li
          = link_to "#", class: 'inner-link', id: 'account-settings' do
            %span Account
      - if current_user
        %li
          = link_to "#", class: 'inner-link', id: 'sign-out' do
            %span Sign Out
      - else
        %li
          = link_to "#", class: 'inner-link', id: 'sign-up' do
            %span Sign Up
        %li
          = link_to "#", class: 'inner-link', id: 'login' do
            %span Login
/ end navigation
/ start styleswitcher, remove this
.switcher
/ end styleswitcher
/ Preloader
.mask
  #loader.rotating
/ /Preloader

- content_for :javascript do
  :javascript
    $(function(){
      $('#sign-out').click(function(){
        $.ajax({
          url: "#{destroy_user_session_path}",
          method: 'DELETE'
        });
      });
      $('#account-settings').click(function(){
        window.location.href = "#{edit_user_registration_path}";
      });
      $('#current-tenders').click(function(){
        window.location.href = "#{root_path}";
      });
      $('#past-tenders').click(function(){
        window.location.href = "#{past_tenders_path}";
      });
      $('#sign-up').click(function(){
        window.location.href = "#{new_user_registration_path}";
      });
      $('#login').click(function(){
        window.location.href = "#{new_user_session_path}";
      });
    });