%header

  .row

    .medium-3.small-6.columns.text-align-left

      .header-logo

        - if current_user

          - if current_user.read_only?

            = link_to 'Tengence', current_tenders_path, class: 'ga-tenders', data: {gtm_category:'', gtm_action: 'logo', gtm_label: 'header'}

          - elsif current_user.write_only?

            = link_to 'Tengence', current_posted_tenders_path, class: 'ga-tenders', data: {gtm_category:'', gtm_action: 'logo', gtm_label: 'header'}

        - else

          = link_to 'Tengence', root_path, class: 'ga-static-pages', data: {gtm_category:'', gtm_action: 'logo', gtm_label: 'header'}

    .small-6.columns.show-for-small-only.text-right

      .menu-toggle-button{"data-menu-id" => "navigation"}
        %i.fa.fa-align-justify

    .medium-9.small-12.columns.text-right

      %ul#navigation.menu-list

        - if current_user

          - if current_user.read_only?

            %li.show-for-medium-up
              %a{data: {dropdown: "tenders-drop"}} Tenders
              %ul#tenders-drop.fadeIn.animated.blink{:class => "f-dropdown", "data-dropdown-content" => ""}
                %li
                  = link_to "Current Tenders", current_tenders_path
                %li
                  = link_to "Past Tenders", past_tenders_path
                %li
                  = link_to "My Watchlist", watched_tenders_path
                %li
                  = link_to "Your Keywords", keywords_tenders_path

            %li.show-for-medium-up
              %a{data: {dropdown: "account-drop"}} Account
              - if current_user.finished_trial_but_yet_to_subscribe? || current_user.unsubscribed_and_finished_cycle?
                %label.subscription-level.trial free
              - if current_user.trial? || current_user.subscribed? || current_user.unsubscribed_and_yet_to_finish_cycle?
                %label.subscription-level.pro pro
              %ul#account-drop.fadeIn.animated.blink{:class => "f-dropdown", "data-dropdown-content" => ""}
                %li
                  = link_to "Edit Profile", edit_user_registration_path
                %li
                  = link_to "Pricing & Plans", plans_path
                %li
                  = link_to "Billing", billing_path
                - if current_user.subscribed?
                  %li
                    = link_to "Change Payment Settings", change_payment_path
                %li
                  = link_to "Payment History", payment_history_path
                - if current_user.god_user?
                  %li
                    = link_to "Test", landscaping_path

            %li.show-for-small-only
              = link_to "Current Tenders", current_tenders_path
            %li.show-for-small-only
              = link_to "Past Tenders", past_tenders_path
            %li.show-for-small-only
              = link_to "My Watchlist", watched_tenders_path
            %li.show-for-small-only
              = link_to "Your Keywords", keywords_tenders_path
            %li.show-for-small-only.text-right
              = link_to "Edit Profile", edit_user_registration_path
            %li.show-for-small-only.text-right
              = link_to "Pricing & Plans", plans_path
            %li.show-for-small-only.text-right
              = link_to "Billing", billing_path
              - if current_user.finished_trial_but_yet_to_subscribe? || current_user.unsubscribed_and_finished_cycle?
                %label.subscription-level.trial free
              - if current_user.trial? || current_user.subscribed? || current_user.unsubscribed_and_yet_to_finish_cycle?
                %label.subscription-level.pro pro
            - if current_user.subscribed?
              %li.show-for-small-only.text-right
                = link_to "Change Payment Settings", change_payment_path
            %li.show-for-small-only.text-right
              = link_to "Payment History", payment_history_path

            %li
              = link_to "Logout", destroy_user_session_path, method: :delete

          - elsif current_user.write_only?

            %li
              = link_to "Post Tender", new_tender_path
            %li
              = link_to "Your Tenders", current_posted_tenders_path
            %li
              = link_to "Past Tenders", past_posted_tenders_path
            %li
              = link_to "Account", edit_user_registration_path
            %li
              = link_to "Logout", destroy_user_session_path, method: :delete

        - else

          - if request.path == root_path

            %li
              %a.ga-static-pages{href: "#how-it-works", data: {gtm_category:'', gtm_action: 'how it works', gtm_label: 'header', scroll: ""}} How It Works
            %li
              %a.ga-static-pages{href: "#sources-and-counting", data: {gtm_category:'', gtm_action: 'sources', gtm_label: 'header', scroll: ""}} Sources
            %li
              %a.ga-static-pages{href: "#demo", data: {gtm_category:'', gtm_action: 'demo', gtm_label: 'header', scroll: ""}} Demo
            %li
              %a.ga-static-pages{href: "#email", data: {gtm_category:'', gtm_action: 'emails', gtm_label: 'header', scroll: ""}} Emails
            %li
              %a.ga-static-pages{href: "#contacts", data: {gtm_category:'', gtm_action: 'contacts', gtm_label: 'header', scroll: ""}} Contacts
            %li.separator
              = link_to "Pricing", plans_path, class: 'unscrollable ga-static-pages', data: {gtm_category:'', gtm_action: 'pricing & plans', gtm_label: 'header'}
            %li
              = link_to "Login", new_user_session_path, class: 'unscrollable ga-static-pages', data: {gtm_category:'', gtm_action: 'login', gtm_label: 'header'}
            %li
              = link_to "Sign Up", new_user_registration_path, class: 'unscrollable ga-static-pages', data: {gtm_category:'', gtm_action: 'sign up', gtm_label: 'header'}

          - else

            %li
              = link_to "Login", new_user_session_path, class: 'unscrollable ga-static-pages', data: {gtm_category:'', gtm_action: 'login', gtm_label: 'header'}
            %li
              = link_to "Sign Up", new_user_registration_path, class: 'unscrollable ga-static-pages', data: {gtm_category:'', gtm_action: 'sign up', gtm_label: 'header'}
          
        %li.show-for-medium-up
          %a{data: {dropdown: "help-drop"}} Help
          %ul#help-drop.fadeIn.animated.blink{:class => "f-dropdown", "data-dropdown-content" => ""}
            %li
              = link_to "Terms of Service", terms_of_service_path, class: 'unscrollable ga-static-pages', data: {gtm_category:'', gtm_action: 'terms of services', gtm_label: 'header'}
            %li
              = link_to "FAQ", faq_path, class: 'unscrollable ga-static-pages', data: {gtm_category:'', gtm_action: 'faq', gtm_label: 'header'}
            %li
              = link_to "Contact", contact_path, class: 'unscrollable ga-static-pages', data: {gtm_category:'', gtm_action: 'contact', gtm_label: 'header'}
        %li.show-for-small-only
          = link_to "Terms of Service", terms_of_service_path, class: 'unscrollable ga-static-pages', data: {gtm_category:'', gtm_action: 'terms of services', gtm_label: 'header'}
        %li.show-for-small-only
          = link_to "FAQ", faq_path, class: 'unscrollable ga-static-pages', data: {gtm_category:'', gtm_action: 'faq', gtm_label: 'header'}
        %li.show-for-small-only
          = link_to "Contact", contact_path, class: 'unscrollable ga-static-pages', data: {gtm_category:'', gtm_action: 'contact', gtm_label: 'header'}

.mask
  #loader.rotating


- flash.each do |name, msg|

  .row.flash-row

    .medium-12.column

      - if msg.is_a?(String)
        %div{:'data-alert' => '', class: "alert-box round #{name.to_s}"}
          = content_tag :div, msg.html_safe
          %a.close{href: "#", class: "close"} &times;
