!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = metamagic title: "Tengence", description: "We Track Tender Opportunities from >60 Sources (Gebiz, Sesami, Ariba and More) in Singapore. Get Daily Email Alerts & Notifications. Keyword Tracking. Sign Up Now!"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    = yield :head
  
  %body{class: "#{params[:controller].parameterize} #{params[:action].parameterize}"}
    
    :javascript
      dataLayer = [];
      var GA_tender_id = null, GA_UID = null,
        GA_access_level = null;
    
    = render 'layouts/header'
    = yield
  
    = javascript_include_tag "application", "data-turbolinks-track" => true
    / End Style Switcher
    :javascript
      $(document).foundation();
      $(document).on('opened.fndtn.reveal', '[data-reveal]', function () {
        document.body.classList.remove('loading');
      });
      /* trigger foundation() after window load for react and foundation to work...TODO better way? */
      $(window).load(function(){
        $(document).foundation({
          accordion: {
            multi_expand: true,
            toggleable: true
          }
        });
      });
    = yield :javascript
    = render 'layouts/ga_scripts'
    = render 'layouts/heatmap_scripts'