!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title Tengence
    / Style Switcher Box delete for remove styleswitcher
    %link{:href => "http://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,200", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  
  %body{class: "#{params[:controller].parameterize} #{params[:action].parameterize}"}
    = render 'layouts/header'
    = yield
  
    = javascript_include_tag "application", "data-turbolinks-track" => true
    / End Style Switcher
    :javascript
      $(document).foundation();
    = yield :javascript