#wrapper
  / start contacts section
  %section#contacts
    .row
      .medium-6.columns.medium-centered.animated{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
        .title-section
          %h3 Update Account
    .row
      / start contact form
      #message
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| 
        .medium-6.columns.medium-centered
          = f.text_field :first_name, placeholder: "First Name"
        .medium-6.columns.medium-centered
          = f.text_field :last_name, placeholder: "Last Name"
        .medium-6.columns.medium-centered
          = f.email_field :email, placeholder: "Email"
        .medium-6.columns.medium-centered
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{ resource.unconfirmed_email}
        .medium-6.columns.medium-centered
          = f.password_field :password, autocomplete: "off", placeholder: "Password (leave blank if you don't want to change it)"
        .medium-6.columns.medium-centered
          = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation (leave blank if you don't want to change it)"
        .medium-12.columns.text-center
          %button#submit{:name => "email", :type => "submit"} UPDATE
      / end contact form
  / end contacts section
