#wrapper
  / start contacts section
  %section#contacts
    .row
      .medium-3.small-12.columns.animated{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
        .title-section
          %h3 Edit
      .medium-9.columns.animated{"data-animate" => "fadeInUp", "data-animate-delay" => "0"}
        .section-desc
          %h4 #{ resource.first_name } Account Settings
    .row
      / start contact form
      #message
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| 
        .large-6.columns.medium-centered
          = f.text_field :first_name, placeholder: "First Name"
        .large-6.columns.medium-centered
          = f.text_field :last_name, placeholder: "Last Name"
        .large-6.columns.medium-centered
          = f.email_field :email, placeholder: "Email"
        .large-6.columns.medium-centered
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{ resource.unconfirmed_email}
        .large-6.columns.medium-centered
          = f.password_field :password, autocomplete: "off", placeholder: "Password (leave blank if you don't want to change it)"
        .large-6.columns.medium-centered
          = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation (leave blank if you don't want to change it)"
        .large-12.columns.text-center
          %button#submit{:name => "email", :type => "submit"} UPDATE
      / end contact form
  / end contacts section
