- content_for :head do
  %link{:href => register_url, :rel => "canonical"}
  
#wrapper
  %section
    .row
      .medium-3.small-12.columns.medium-centered.animated{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
        .title-section
          %h3 Sign Up
      -# .medium-9.columns.animated{"data-animate" => "fadeInUp", "data-animate-delay" => "0"}
      -#   .section-desc
      -#     %h4 Meet our creative people
      -#     %p Despite recent advances in web type technology we’re still fairly limited when it comes to creative typography layouts, meaning image replacement techniques are still common.
    .row
      / start contact form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.hidden_field :access_level
        #message= devise_error_messages!
        .small-12.medium-6.column.small-centered
          = f.text_field :first_name, autofocus: true, placeholder: 'First Name'
        .small-12.medium-6.column.small-centered
          = f.text_field :last_name, placeholder: 'Last Name'
        .small-12.medium-6.column.small-centered
          = f.text_field :company_name, placeholder: 'Company'
        .small-12.medium-6.columns.small-centered
          = f.email_field :email, placeholder: 'Email'
        .small-12.medium-6.column.small-centered
          = f.password_field :password, autocomplete: "off", placeholder: "Password (8 characters minimum)"
          %a#show-password Show Password
          %br
          %br
        .small-12.medium-6.columns.small-centered
          %p
            = check_box_tag 'eula', 1, false
            By signing up, you agree to Tengence's <a href="/terms-of-service" target="_blank">Terms Of Service</a>.
        .small-12.medium-6.columns.small-centered.text-center
          %button#submit{type: 'submit'} Sign Up
        .small-12.medium-6.columns.small-centered.shared-links
          = render "users/shared/links"

- content_for :javascript do
  :javascript
    $(function(){
      /* logic for show/hide password */
      $("form#new_user input[type='password']").each(function (index, input) {
        var $input = $(input);
        $("form#new_user #show-password").click(function () {
          var change = "";
          if ($(this).html() === "Show Password") {
            $(this).html("Hide Password")
            change = "text";
          } else {
            $(this).html("Show Password");
            change = "password";
          }
          var rep = $("<input type='" + change + "' />")
            .attr("id", $input.attr("id"))
            .attr("name", $input.attr("name"))
            .attr("placeholder", $input.attr("placeholder"))
            .attr('class', $input.attr('class'))
            .val($input.val())
            .insertBefore($input);
          $input.remove();
          $input = rep;
        });
      });
      jQuery.validator.addMethod("domain", function(value, element) {
        return !(/@gmail\./i.test(value) ||
          /@yahoo\./i.test(value) ||
          /@live\./i.test(value) ||
          /@hotmail\./i.test(value));
      }, "Please use your company's email.");
      $("form#new_user").validate({
        rules: {
          "user[email]": {
            required: true,
            email: true,
            domain: true,
            remote: "#{check_email_taken_path}"
          },
          "user[first_name]": {
            required: true,
            minlength: 2
          },
          "user[last_name]": {
            required: true,
            minlength: 2
          },
          "user[company_name]": {
            required: true,
          },
          "user[password]": {
            required: true,
            minlength: 8
          },
          "eula": {
            required: true
          }
        },
        messages: {
          "user[email]": {
            required: "An email is required.",
            email: "Your email is in an invalid format.",
            remote: "Email already in use."
          },
          "user[first_name]": {
            required: "Your first name is required.",
            minlength: "Your first name should be more than 2 characters."
          },
          "user[last_name]": {
            required: "Your last name is required.",
            minlength: "Your last name should be more than 2 characters."
          },
          "user[company_name]": {
            required: "Your company name is required."
          },
          "user[password]": {
            required: "A password is required.",
            minlength: "Your password should be at least 8 characters."
          },
          "eula": {
            required: "Please check this."
          }
        }
      });
    });